<div class="input-group">
    <input
        ngbDatepicker
        #d="ngbDatepicker"
        (click)="d.toggle()"
        (dateSelect)="onDateSelection($event)"
        [dayTemplate]="t"
        
    />
    <button class="btn btn-outline-secondary oci oci-chevron-down" (click)="d.toggle()" type="button"></button>
 
    <ng-template #t let-date let-focused="focused">
        <span
        class="custom-day"
        [class.focused]="focused"
        [class.range]="isRange(date)"
        [class.faded]="isHovered(date) || isInside(date)"
        (mouseenter)="hoveredDate = date"
        (mouseleave)="hoveredDate = null"
        >
        {{ date.day }}
        </span>
    </ng-template>
    
</div>

<!-- <pre>From: {{ fromDate | json }} </pre>
<pre>To: {{ toDate | json }} </pre> -->
