@font-face {
  font-family: 'cs-icon';
  src: url('../../assets/cs-icon/fonts/cs-icon.eot');
  src: url('../../assets/cs-icon/fonts/cs-icon.eot') format('embedded-opentype'), url('../../assets/cs-icon/fonts/cs-icon.ttf') format('truetype'), url('../../assets/cs-icon/fonts/cs-icon.woff') format('woff'), url('../../assets/cs-icon/fonts/cs-icon.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="oci-"],
[class*=" oci-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'cs-icon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.oci {
  text-align: center;
  display: inline-block;
}

.oci-export,
.oci-shelf-position,
.oci-trace,
.oci-host {
  transform: scale(1.3);
}

/***************************icon start here**************************/

.oci-copy:before {
  content: "\e920";
}

.oci-Coupa:before,
.oci-coupa:before {
  content: "\e921";
}

.oci-info:before {
  content: "\e922";
}

.oci-MsDynamicsFSO:before,
.oci-msdynamicsfso:before {
  content: "\e923";
}

.oci-OracleEBS:before,
.oci-oracleebs:before {
  content: "\e924";
}

.oci-OracleFusion:before,
.oci-oraclefusion:before {
  content: "\e925";
}

.oci-OracleIntegrationCloud:before,
.oci-oracleintegrationcloud:before {
  content: "\e926";
}

.oci-PeopleSoft:before,
.oci-peoplesoft:before {
  content: "\e927";
}

.oci-Salesforce:before,
.oci-salesforce:before {
  content: "\e928";
}

.oci-SAP:before,
.oci-sap:before {
  content: "\e929";
}

.oci-VeevaVault:before,
.oci-veevavault:before {
  content: "\e92a";
}

.oci-Workday:before,
.oci-workday:before {
  content: "\e92b";
}

.oci-arrow-up:before {
  content: "\e91e";
}

.oci-star:before {
  content: "\e91f";
}

.oci-eye:before {
  content: "\e91d";
}

.oci-public:before {
  content: "\e91a";
}

.oci-public-off:before {
  content: "\e91b";
}

.oci-share:before {
  content: "\e91c";
}

.oci-bar-chart:before {
  content: "\e916";
}

.oci-logs:before {
  content: "\e917";
}

.oci-map:before {
  content: "\e918";
}

.oci-time-explorer:before {
  content: "\e919";
}

.oci-clock:before {
  content: "\e915";
}

.oci-more-vertical:before {
  content: "\e913";
}

.oci-settings:before {
  content: "\e914";
}

.oci-batch:before {
  content: "\e911";
}

.oci-journey:before {
  content: "\e912";
}

.oci-copy-all:before {
  content: "\e90b";
}

.oci-export:before {
  content: "\e90c";
}

.oci-host:before {
  content: "\e90d";
}

.oci-shelf-position:before {
  content: "\e90e";
}

.oci-trace:before {
  content: "\e90f";
}

.oci-WARNING:before {
  content: "\e910";
}

.oci-chevron-right:before {
  content: "\e908";
}

.oci-chevron-left:before {
  content: "\e909";
}

.oci-chevron-up:before {
  content: "\e90a";
}

.oci-chevron-down:before {
  content: "\e907";
}

.oci-x:before {
  content: "\e906";
}

.oci-refresh-cw:before {
  content: "\e901";
}

.oci-edit:before {
  content: "\e902";
}

.oci-delete:before {
  content: "\e903";
}

.oci-check:before {
  content: "\e904";
}

.oci-search:before {
  content: "\e905";
}

.oci-plus:before {
  content: "\e900";
}