 <div id="ub-err-logs-grid" class="app_container flex_box_column h-100">

    <div class="header d-flex-between" style="height: 4rem;">
        <div class="left flex-center">
            <button class="btn bt_back" container="body" ngbtooltip="Back" type="button" (click)="backToMenu()"><i class="oci oci-chevron-left text_muted"></i></button>
            <h5 class="mb-0 text-ellipsis">All Functional Errors</h5>
        </div>
        
        <div class="right-filter me-3 mt-2">
            <app-envrionment-common-filter (onFilterSelected)="filterChanged($event)" [selected_tab]= '{selectedTab: "ubAllFunctional"}' [selectedAnalyticsType]= "'USER_BEHAVIOUR_ANALYTICS_DATASOURCE'"></app-envrionment-common-filter>
        </div>
    </div>
   
    <div class="app_body mx-2">
        <div id="erp-err-logs-grid"  class="logs-grid-layout">
            <!-- (cellClick)="onSelectionChange($event)" -->
            <kendo-grid 
                [data]="ub_functional_err_log_Data_Source" 
                [selectable]="true" 
                class="scrollable"
                (cellClick)="onSelectionChange($event)"
                (scrollBottom)="onScroll()"
                [style.height]="'calc(100vh - 7rem)'"
                >
        
                <kendo-grid-column title="" [width]="10">
        
                    <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
        
                        <span class="all-functional-error-section">
        
                        </span>
        
                    </ng-template>
                </kendo-grid-column>
        
                <kendo-grid-column field="timeString" title="Time">
                </kendo-grid-column>
                <kendo-grid-column field="userId" title="User">
                </kendo-grid-column>
                <kendo-grid-column field="errorId" title="Error Id">
                </kendo-grid-column>
                <kendo-grid-column field="envName" title="Environment Name">
                </kendo-grid-column>
                <kendo-grid-column field="envHost" title="Environment Host">
                </kendo-grid-column>
                <!-- <kendo-grid-column field="appEventLog" title="App Log">
                </kendo-grid-column> -->
                <!-- <kendo-grid-column field="logName"  title="Log Name">
                </kendo-grid-column> -->
        
                <ng-template kendoGridNoRecordsTemplate>
                    <div class="no-data-found" style="height: 17rem !important;">
                        <div class="no-data-found-content">
                            <img class="no-data-found-content-img" src="/assets/icon-image/nodata-img.png" alt="No data">
                            <p class="no-data-found-content-text">No data available</p>
                        </div>
                    </div>
                </ng-template>
            </kendo-grid>
        </div>
        
    </div>
</div>