<div *ngIf="obj_selected_journey.isDisplay_main" class="trace">
    <kendo-grid [data]="datasource_grid_journey" [selectable]="true" (cellClick)="onSelectionChange($event)">

        <kendo-grid-column title="Module" [width]="190">
            <ng-template kendoGridCellTemplate let-dataItem>
                <span class="layout-text-obiq">{{dataItem.subModuleName}}</span>
            </ng-template>
        </kendo-grid-column>

        <kendo-grid-column title="Activity" [width]="190">
            <ng-template kendoGridCellTemplate let-dataItem>
               <span class="layout-text-obiq"> {{dataItem.activityName}}</span>
            </ng-template>
        </kendo-grid-column>

        <kendo-grid-column title="Sub Activity" [width]="190">
            <ng-template kendoGridCellTemplate let-dataItem>
                <span class="layout-text-obiq">{{dataItem.subActivityName}}</span>
            </ng-template>
        </kendo-grid-column>


        <ng-template kendoGridNoRecordsTemplate>
            <div class="no_data_found" style="height: 17rem !important;">
                <div class="no_data_found_content">
                    <img class="no_data_found_content_img" src="/assets/icon-image/nodata-img.png" alt="No data">
                    <p class="no_data_found_content_text">No Journey available</p>
                </div>
            </div>
        </ng-template>
    </kendo-grid>
</div>

<div *ngIf="!obj_selected_journey.isDisplay_main">
    <app-selected-journey [child_data]="{obj_selected_journey: obj_selected_journey}"></app-selected-journey>
</div>