<div class="logs-details">

    <div class="status-strip mb-3 d-flex-between">
        <div class="left">
            <!-- <span class="error-details">
                <i class="oci oci-WARNING pe-1"></i>
                Error
            </span> -->
            <span>
                <span class="text-theme font-bold">
                    {{receivedTimeRange}}
                </span> 
                <span style="color: #667085;">
                    (a few seconds ago)
                </span>
            </span>
        </div>
        <!-- <div class="right">
            <button type="button" class="btn btn-bg-white btn-layout-export"> 
                <i class="oci oci-export pe-2"></i>
                Export
            </button>
        </div> -->
    </div>

    <!-- <div class="details-strip mb-3 d-flex align-items-start flex-wrap">

        <div class="host d-inline-block datakeys-box">
            <span class="font-bold">Domain</span>
            <span class="d-block text-ellipsis font-14px link-color">{{selectedData?.domainName}}</span>
        </div>

        <div class="host d-inline-block datakeys-box">
            <span class="font-bold">Host</span>
            <span class="d-block text-ellipsis font-14px">
                <i class="oci oci-host ps-1 pe-2"></i>{{selectedData?.dataId}}</span>
        </div>

        <div class="host d-inline-block datakeys-box">
            <span class="font-bold">Service</span>
            <span class="d-block text-ellipsis font-14px">{{selectedData?.appName}}</span>
        </div>

        <div class="host d-inline-block datakeys-box">
            <span class="font-bold">Name</span>
            <span class="d-block text-ellipsis font-14px">
                <i class="oci oci-shelf-position ps-1 pe-2"></i>{{selectedData?.logName}}</span>
        </div>
       
    </div> -->

    <div class="row mx-0 mb-3">
        <div class="col-sm-3 ps-0">
            <div class="datakeys-box">
                <span class="font-bold">Domain</span>
                <span class="d-block text-ellipsis font-14px link-color">{{selectedData?.domainName}}</span>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="datakeys-box">
                <span class="font-bold">Host</span>
                <span class="d-block text-ellipsis font-14px">
                    <i class="oci oci-host ps-1 pe-2"></i>{{selectedData?.dataId}}</span>
            </div> 
        </div>
        <div class="col-sm-3">
            <div class="datakeys-box">
                <span class="font-bold">Service</span>
                <span class="d-block text-ellipsis font-14px">{{selectedData?.appName}}</span>
            </div>
        </div>
        <div class="col-sm-3 pe-0">
            <div class="datakeys-box">
                <span class="font-bold">Name</span>
                <span class="d-block text-ellipsis font-14px">
                    <i class="oci oci-shelf-position ps-1 pe-2"></i>{{selectedData?.logName}}</span>
            </div> 
        </div>
    </div>

    <!-- <div class="status-message mb-3 error-details d-flex-between">
        <span>
            Redis connection failed.
        </span>
        <span>
            <i class="oci oci-copy-all"></i>
        </span>
    </div> -->

    <div class="lowerPart">

        <div class="tab_panel" role="tabpanel" aria-label="Tab Panel" [ngClass]="tabSelected == 'Info'?'mb-0':''" >
            <ul class="nav-tabs mb-0" role="tablist">

                <li class="nav-item" role="tab" aria-controls="all-journeys-tab">
                    <a class="nav-link" 
                        href="javascript:void(0)" [ngClass]="tabSelected == 'Trace'?'active':''" (click)="changeSelectedTab('Trace')">
                        <i class="oci oci-trace pe-1"></i>
                        Trace</a>
                </li>
                <!-- <li class="nav-item" role="tab" aria-controls="all-journeys-tab" >
                    <a class="nav-link" 
                        href="javascript:void(0)" [ngClass]="tabSelected == 'Metrics'?'active':''" (click)="changeSelectedTab('Metrics')">
                        <i class="oci oci-batch pr-1"></i>
                        Metrics</a>
                </li> -->
                <li class="nav-item" role="tab" aria-controls="all-journeys-tab">
                    <a class="nav-link" 
                        href="javascript:void(0)" [ngClass]="tabSelected == 'Journey'?'active':''" (click)="changeSelectedTab('Journey')">
                        <i class="oci oci-journey pe-1"></i>
                        Journey</a>
                </li>
                <li class="nav-item" role="tab" aria-controls="all-journeys-tab">
                    <a class="nav-link" 
                        href="javascript:void(0)" [ngClass]="tabSelected == 'Info'?'active':''" (click)="changeSelectedTab('Info')">
                        <i class="oci oci-info pe-1"></i>
                        Info</a>
                </li>
            </ul>
        </div>

        <div class="tab_view_content">
            @if (tabSelected == 'Trace') {
               <app-selected-trace-inner [child_data]="{selectedData: selectedData}"></app-selected-trace-inner>
            }
            @else if (tabSelected == 'Metrics') {
                <div class="metrics">
                    Metrics widget
                </div>
            }
            @else if (tabSelected == 'Journey') {
                <div class="journey">
                    <app-journey-grid [child_data]="{selectedData: selectedData}"></app-journey-grid>
                </div>
            }
            @else if(tabSelected == "Info"){
                <div class="Info">
                    <app-manager-main-right-log-tab-details-info [selectedData]="{fullLog: selectedData?.fullLog, summarizedLog: selectedData?.summarizedLog}"></app-manager-main-right-log-tab-details-info>
                </div>
            }
        </div>
    </div>
</div>
