<div class="logs-details">

    <div class="status-strip mb-3 d-flex-between">
        <div class="left">
            <span class="error-details">
                <i class="oci oci-WARNING pe-1"></i>
                Error
            </span>
            <span class="text-theme font-bold ps-3">{{selectedData.date}}</span>
        </div>
        <div class="right">
            <button type="button" class="btn btn-bg-white btn-layout-export"> 
                <i class="oci oci-export pe-2"></i>
                Export
            </button>
        </div>
    </div>

    <div class="details-strip mb-3 d-flex align-items-start flex-wrap">
        @for (item of dataKeys; track $index; let idx = $index, e = $even) {
            <div class="host d-inline-block datakeys-box">
                <span class="font-bold">{{dataKeys[idx]}}</span>
                <span class="d-block text-ellipsis font-14px">
                    @if (dataKeys[idx] == 'host') {
                        <i class="oci oci-host ps-1 pe-2"></i>
                    }

                    @else if (dataKeys[idx] == 'content') {
                        <i class="oci oci-shelf-position ps-1 pe-2"></i>
                    }
                    {{dataValues[idx]}}</span>
            </div>
        }
       
    </div>

    <div class="status-message mb-3 error-details d-flex-between">
        <span>
            Redis connection failed.
        </span>
        <span>
            <i class="oci oci-copy-all"></i>
        </span>
    </div>

    <div class="lowerPart">

        <div class="tab_panel" role="tabpanel" aria-label="Tab Panel">
            <ul class="nav-tabs mb-0" role="tablist">

                <li class="nav-item" role="tab" aria-controls="all-journeys-tab">
                    <a class="nav-link" 
                        href="javascript:void(0)" [ngClass]="tabSelected == 'Trace'?'active':''" (click)="changeSelectedTab('Trace')">
                        <i class="oci oci-trace pr-1"></i>
                        Trace</a>
                </li>
                <li class="nav-item" role="tab" aria-controls="all-journeys-tab" >
                    <a class="nav-link" 
                        href="javascript:void(0)" [ngClass]="tabSelected == 'Metrics'?'active':''" (click)="changeSelectedTab('Metrics')">
                        <i class="oci oci-batch pr-1"></i>
                        Metrics</a>
                </li>
                <li class="nav-item" role="tab" aria-controls="all-journeys-tab">
                    <a class="nav-link" 
                        href="javascript:void(0)" [ngClass]="tabSelected == 'Journey'?'active':''" (click)="changeSelectedTab('Journey')">
                        <i class="oci oci-journey pr-1"></i>
                        Journey</a>
                </li>
            </ul>
        </div>

        <div class="tab_view_content">
            @if (tabSelected == 'Trace') {
                <div class="trace">
                    <kendo-grid 
                    #grid_application 
                    [data]="trace_Selected_data" 
                    (cellClick)="onCellClick($event)"
                    [selectable]="true" 
                    [navigable]="true"
                    (selectionChange)="on_trace_Selection_Change_($event)" 
                    class="scrollable grid_remove_vertical_border k_grid_header_pr_0">
                    <kendo-grid-column field="appType" title="appType">
                        <ng-template kendoGridCellTemplate let-dataItem>
                            <div class="flex-center">
                                <span class="layout-text-obiq ps-2">{{dataItem.appType}}</span>
                            </div>
                        </ng-template>
                    </kendo-grid-column>
                
                    <kendo-grid-column field="domainName" title="domainName">
                        <ng-template kendoGridCellTemplate let-dataItem>
                
                            <div class="flex-center">
                                <div class="ps-2">
                                    <span class="layout-text-obiq ps-2">{{dataItem.domainName}}</span>
                                </div>
                            </div>
                        </ng-template>
                    </kendo-grid-column>
                
                    <!-- ModifiedBy Column with Date -->
                    <kendo-grid-column field="logName" title="logName">
                        <ng-template kendoGridCellTemplate let-dataItem>
                            <div class="flex-center">
                              
                                <div class="ps-2">
                                    <span class="layout-text-name">{{dataItem.logName}}</span>
                                </div>
                            </div>
                        </ng-template>
                    </kendo-grid-column>
                
                    <ng-template kendoGridNoRecordsTemplate>
                        <div class="no_data_found" style="height: 17rem !important;">
                            <div class="no_data_found_content">
                                <img class="no_data_found_content_img" src="/assets/icon-image/nodata-img.png" alt="No data">
                                <p class="no_data_found_content_text">No data available</p>
                            </div>
                        </div>
                    </ng-template>
                </kendo-grid>
                </div>
            }
            @else if (tabSelected == 'Metrics') {
                <div class="metrics">
                    Metrics widget
                </div>
            }
            @else if (tabSelected == 'Journey') {
                <div class="journey">
                    <app-journey-grid [child_data]="{selectedData: selectedData}"></app-journey-grid>
                </div>
            }
        </div>
    </div>
</div>
