.error-details {
    background-color: #FEF3F2;
    color: #B42318;
    padding: 0.35rem 0.75rem;
    border-radius: 0.5rem;
    font-size: 0.875rem;
    font-weight: 600;
}

.btn-layout-export {
    padding: 0.5rem;
    font-size: 0.8125rem;
    line-height: 1rem;
}
.datakeys-box {
    width: 17rem;
    margin: 0 1rem 1rem 0rem;
    border: 1px solid #D9D9D9;
    padding: 0.5rem;
    border-radius: 0.5rem;
}