<h6 class="mb-3 font-bold">
    Choose OBIQ Agents 
    <!-- <span *ngIf="obj_error.dispaly_Instances" class="form-error">Instance selection is required.</span> -->
</h6>

<kendo-grid 
    #grid_application 
    [data]="Instance_list" 
    (cellClick)="onCellClick($event)"
    [selectable]="true" 
    [navigable]="true"
    (selectionChange)="on_Selection_Change_System_diagnostics($event)"
    [selectable]="{ checkboxOnly: true, mode: 'multiple' }" 
    class="scrollable grid_remove_vertical_border k_grid_header_pr_0 checkbox-custom-kendo">
    
    <kendo-grid-checkbox-column [showSelectAll]="true" [width]="50">
    </kendo-grid-checkbox-column>

    <kendo-grid-column field="SystemIdentifier" title="OBIQ Agent">
        <ng-template kendoGridCellTemplate let-dataItem>
            <div class="flex-center">
               
                <span class="layout-text-obiq">{{dataItem.OBIQ_Agent}}</span>
            </div>
        </ng-template>
    </kendo-grid-column>

    <kendo-grid-column field="CreatedBy" title="IP Address">
        <ng-template kendoGridCellTemplate let-dataItem>

            <div class="flex-center">
                <div>
                    <span class="layout-text-date">{{dataItem.Unique_Code}}</span>
                 
                </div>
            </div>
        </ng-template>
    </kendo-grid-column>

    <ng-template kendoGridNoRecordsTemplate>
        <div class="no-data-found" style="height: 17rem !important;">
            <div class="no-data-found-content">
                <img class="no-data-found-content-img" src="/assets/icon-image/nodata-img.png" alt="No data">
                <p class="no-data-found-content-text">No data available</p>
            </div>
        </div>
    </ng-template>
</kendo-grid>
