<h6 class="mb-3 font-bold">
    Choose OBIQ Agents <span class="text-astric">*</span>
    <span *ngIf="obj_error.display_SystemDiagnosticsData" class="form-error" >
        <span class="text-astric" ></span>
        OBIQ agent selection is required.
    </span>
</h6>

<!-- [selectable]="true" -->


<kendo-grid 
#grid_application
    [data]="Instance_list" 
    (cellClick)="onCellClick($event)" 
    
    [navigable]="true"
    (selectionChange)="on_Selection_Change_System_diagnostics($event)"
    [selectable]="{ checkboxOnly: true,mode:'multiple'}" 
    class="scrollable grid_remove_vertical_border k_grid_header_pr_0 checkbox-custom-kendo"
    kendoGridSelectBy="agentId"
    [(selectedKeys)]="selectedKeys">
    
    <kendo-grid-checkbox-column [showSelectAll]="true" [width]="50">
    </kendo-grid-checkbox-column>

    <kendo-grid-column field="SystemIdentifier" title="OBIQ Agent">
        <ng-template kendoGridCellTemplate let-dataItem>
            <div class="flex-center">
               
                <span class="layout-text-obiq">{{dataItem.agentName}}</span>
            </div>
        </ng-template>
    </kendo-grid-column>

    <kendo-grid-column field="CreatedBy" title="Ip Address">
        <ng-template kendoGridCellTemplate let-dataItem>

            <div class="flex-center">
                <div>
                    <span class="layout-text-date">{{dataItem.ipAddress}}</span>
                 
                </div>
            </div>
        </ng-template>
    </kendo-grid-column>

    <ng-template kendoGridNoRecordsTemplate>
        <div class="no-data-found" style="height: 17rem !important;">
            <div class="no-data-found-content">
                <img class="no-data-found-content-img" src="/assets/icon-image/nodata-img.png" alt="No data">
                <p class="no-data-found-content-text">No data available</p>
            </div>
        </div>
    </ng-template>
</kendo-grid>
