

<div id="modal-view-bilder" class="modal-content-wrapper flex-box-column">

    <div class="modal-header bg-theme rounded-0">
    
        <h3 class="modal-h-title text-white">{{obj_configuration_setting.title}}</h3>

        <div class="modal-header-right">
            <button class="btn text-light" (click)="close_model()">
                <i class="oci oci-x"></i>
            </button>
        </div>

    </div>

    <div class="modal-body pt-4">

        <div class="panel-selection">

            <div class="selection-left">

                <ul class="stepper-content">

                    <li [ngClass]="obj_configuration_setting.tab=='datasource' ? 'active' : ''">
                        <span class="icon">1</span>
                        <span class="text-color-theme">Select Data-Sources</span>
                    </li>

                    <li [ngClass]="obj_configuration_setting.is_inner_tab ? 'item_subcategory active' : ''">
                        <span>
                            <span class="icon">2</span>
                            <span class="text-color-theme">Value of Data-Sources</span>
                        </span>

                        <ul class="pt-3 data-source-child">

                            <li [ngClass]="obj_configuration_setting.tab=='ERP_Analytics' ? 'active' : ''" class="ps-2">
                                <span class="text-color-theme">Add ERP Analytics</span>
                            </li>

                            <!-- <li [ngClass]="obj_configuration_setting.tab=='system_diagnostics' ? 'active' : ''" class="ps-2">
                                <span class="text-color-theme">
                                    Add System Diagnostics
                                </span>
                               
                            </li> -->
                        </ul>
                    </li>

                    <li [ngClass]="obj_configuration_setting.tab=='view_summary' ? 'active' : ''">
                        <span class="icon">3</span>
                        <span class="text-color-theme">Create View</span>
                    </li>

                </ul>
            </div>
    
           <div class="selection-right">
            <div *ngIf="obj_configuration_setting.tab=='datasource'">
                <app-configuration-settings-datasource [child_data]="{obj_configuration_setting: obj_configuration_setting}"[error_flag]="error_obj"></app-configuration-settings-datasource>
              </div>
              
              <div *ngIf="obj_configuration_setting.tab=='ERP_Analytics'">
                <app-configuration-settings-erp-analytics [child_data]="{obj_configuration_setting: obj_configuration_setting}"></app-configuration-settings-erp-analytics>
              </div>

              <!-- <div *ngIf="obj_configuration_setting.tab=='system_diagnostics'">
                <app-configuration-settings-system-diagnostics [child_data]="{obj_configuration_setting: obj_configuration_setting}"></app-configuration-settings-system-diagnostics>
              </div> -->

              <div *ngIf="obj_configuration_setting.tab=='view_summary'">
                    <app-configuration-settings-view-summary [child_data]="{obj_configuration_setting: obj_configuration_setting}"></app-configuration-settings-view-summary>
              </div>
          
           </div>

        </div>

    </div>

    <div class="modal-footer border-top-0">
        <button *ngIf="obj_configuration_setting.tab != 'datasource'" type="button" class="btn btn-layout btn-bg-white me-2" (click)="back()">Back</button>
        <button  *ngIf="this.obj_configuration_setting.tab !== 'view_summary'" type="button" class="btn btn-layout btn-bg-theme" (click)="next()">Next</button>
        <button  *ngIf="this.obj_configuration_setting.tab == 'view_summary'" type="button" class="btn btn-layout btn-bg-theme" (click)="finish()">Finish</button>
    </div>
    
</div>
