

<div id="modal-view-bilder" class="modal-content-wrapper flex-box-column">

    <div class="modal-header bg-theme rounded-0">
    
        <h3 class="modal-h-title text-white">{{obj_configuration_setting.title}}</h3>

        <div class="modal-header-right">
            <button class="btn text-light" (click)="close_model()" ngbTooltip="Close" container="body"
                aria-label="Close" triggers="mouseenter:mouseleave">
                <i class="oci oci-x"></i>
            </button>
        </div>

    </div>

    <div class="modal-body pt-4">

        <div class="panel-selection">

            <div class="selection-left">

                <ul class="stepper-content">

                    <li [ngClass]="{'active' :obj_configuration_setting.tab=='datasource','stepper-visited':obj_configuration_setting.visitedTabs.indexOf('datasource')>-1}">
                        <span class="icon">1</span>
                        <span class="icon-visited"><i class="oci oci-check align-middle text-light"></i></span>
                        <span class="text-color-theme">Select Data-Sources</span>
                    </li>

                    <li [ngClass]="{'item_subcategory active' : obj_configuration_setting.is_value_selection ,'stepper-visited':obj_configuration_setting.is_value_selection == false && obj_configuration_setting.visitedTabs.length > 0}" class="stepper-margin-0">
                        <span>
                            <span class="icon">2</span>
                            <span class="icon-visited"><i class="oci oci-check align-middle text-light"></i></span>
                            <span class="text-color-theme">Value of Data-Sources</span>
                        </span>

                        @if(obj_configuration_setting.selected_datasource != null && obj_configuration_setting.selected_datasource.select_datasource_item.length != 0) { 

                            <ul class="pt-3 data-source-child ps-3">

                                @for(item of obj_configuration_setting.selected_datasource.select_datasource_item; track item.id ) {

                                    
                                        <li [ngClass]="{'active' : obj_configuration_setting.tab==item.name ,'stepper-visited':obj_configuration_setting.visitedTabs.indexOf(item.name)>-1}" class="ps-2">
                                            <span class="text-color-theme">Add {{item.name}}</span>
                                        </li>
                                    

                                }
                               
                            </ul>
                        }
                        
                    </li>

                    <li [ngClass]="obj_configuration_setting.tab=='view_summary' ? 'active' : ''">
                        <span class="icon">3</span>
                        <span class="icon-visited"><i class="oci oci-check align-middle text-light"></i></span>
                        <span class="text-color-theme">Create View</span>
                    </li>

                </ul>
            </div>
    
           <div class="selection-right">
            <div *ngIf="obj_configuration_setting.tab=='datasource'">
                <app-configuration-settings-datasource [child_data]="{obj_configuration_setting: obj_configuration_setting, dispaly_viewName: dispaly_viewName, dispaly_DataSource: dispaly_DataSource, display_ErpApplication: display_ErpApplication, display_SystemDiagnosticsData: display_SystemDiagnosticsData}" ></app-configuration-settings-datasource>
              </div>
              
              <div *ngIf="obj_configuration_setting.tab=='ERP Analytics'">
                <app-configuration-settings-erp-analytics [child_data]="{obj_configuration_setting: obj_configuration_setting, dispaly_Instances: dispaly_Instances}"></app-configuration-settings-erp-analytics>
              </div>

              <div *ngIf="obj_configuration_setting.tab=='System Diagnostics'">
                <app-configuration-settings-system-diagnostics [child_data]="{obj_configuration_setting: obj_configuration_setting,display_SystemDiagnosticsData:display_SystemDiagnosticsData}"></app-configuration-settings-system-diagnostics>
              </div>
              <div *ngIf="obj_configuration_setting.tab=='Test Automation Analytics'">
                <app-configuration-settings-test-automation [child_data]="{obj_configuration_setting: obj_configuration_setting,displayTestError:displayTestError}"></app-configuration-settings-test-automation >
              </div>
              <div *ngIf="obj_configuration_setting.tab=='User Behaviour Analytics'">
                <app-configuration-settings-user-behaviour [child_data]="{obj_configuration_setting: obj_configuration_setting,displayUserError:displayUserError}"></app-configuration-settings-user-behaviour>
              </div>

              <div *ngIf="obj_configuration_setting.tab=='view_summary'">
                    <app-configuration-settings-view-summary [child_data]="{obj_configuration_setting: obj_configuration_setting}"></app-configuration-settings-view-summary>
              </div>
          
           </div>

        </div>

    </div>

    <div class="p-3 border-top-0" style="padding-left: 26rem !important;">
        <button *ngIf="obj_configuration_setting.tab != 'datasource'" type="button" class="btn btn-layout btn-bg-white me-2" (click)="back()">Back</button>
        <button  *ngIf="this.obj_configuration_setting.tab !== 'view_summary'" type="button" class="btn btn-layout btn-bg-theme" (click)="next()">Next</button>
        <button  *ngIf="this.obj_configuration_setting.tab == 'view_summary'" type="button" class="btn btn-layout btn-bg-theme" (click)="finish()">Finish</button>
    </div>
    
</div>
