<h6 class="mb-3 font-bold">
    Choose Users <span class="text-astric">*</span>
    <span *ngIf="obj_error.displayUserError" class="form-error">User selection is required.</span>
</h6>

<kendo-grid 
    #grid_application 
    [data]="agent_lists" 
    [selectable]="true"         
    [navigable]="true"   
    (selectionChange)="on_Selection_Change_User_Behavious($event)"
    [selectable]="{ checkboxOnly: true, mode: 'multiple' }" 
    class="scrollable grid_remove_vertical_border k_grid_header_pr_0 checkbox-custom-kendo"
    kendoGridSelectBy="email"
    [(selectedKeys)]="selectedKeys">
    
    <kendo-grid-checkbox-column [showSelectAll]="true" [width]="50">
    </kendo-grid-checkbox-column>

    <kendo-grid-column field="SystemIdentifier" title="Agents">
        <ng-template kendoGridCellTemplate let-dataItem>
            <div class="flex-center">
                <span class="img-app-profile">
                    <img src="assets/images/default/profile.png" alt="">
                </span>

                <div class="ps-2">
                    <span class="layout-text-name">{{dataItem.name}}</span>
                    <span class="layout-text-date">{{dataItem.email}}</span>
                </div>
            </div>
        </ng-template>
    </kendo-grid-column>
    <ng-template kendoGridNoRecordsTemplate>
        <div class="no-data-found" style="height: 17rem !important;">
            <div class="no-data-found-content">
                <img class="no-data-found-content-img" src="/assets/icon-image/nodata-img.png" alt="No data">
                <p class="no-data-found-content-text">No data available</p>
            </div>
        </div>
    </ng-template>
</kendo-grid>
