<div class="right-manager-component" style="height: 100%; width: 100%;">
    <div class="feature-breadcrumb">
        <app-navigator-breadcrumb></app-navigator-breadcrumb>
    </div>
    <div class="right-manager-component-container">
        <div class="right-manager-fillter">
            <div class="filter">
                <ng-container *ngIf="appDataService.showSelectedViewEnvironment">
                    <div class="d-flex">
                        <span class="flex-start">View 01</span>
                        
                    </div>
                </ng-container>
            </div>
        </div>
        <div class="right-manager-body">
            <ng-container *ngIf="appDataService.showSelectedViewEnvironment">
                <app-selected-view></app-selected-view>
            </ng-container>
        </div>
    </div>
    <router-outlet></router-outlet>
</div>