.main{
    border-color: rgba(0, 0, 0, .08);
    color: #424242;
    background-color: #fff;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, .06);
    padding: 1.5rem;
    border-radius: 8px;
    height: 16rem;
    width: 35rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.main .upper .exception-iconBox {
    width: 3rem;
    height: 3rem;
    padding: 1.25rem;
    color: #D92D20;
    border: 5px solid #ffe5e5;
    background-color: #fdcccc;
    border-radius: 50%;
    position: relative;
    margin-right: 1rem;
    font-size: 1.5rem;
}

.main .upper .confirm-iconBox {
    width: 3rem;
    height: 3rem;
    padding: 1.25rem;
    color: #DC6803;
    border: 5px solid #fbf4df;
    background-color: #fef0c7;
    border-radius: 50%;
    position: relative;
    margin-right: 1rem;
    font-size: 1.5rem;
}
.main .upper .upper-left{
    padding-top:10px;
   
}

.main .upper .upper-right{
    flex: 1;
    padding-left:15px;
    padding-top:15px;
}
.main .lower {
    display: flex;
    justify-content: flex-end;
    gap:10px;    
}

.main .lower button{
    font-weight: 500; 
    text-transform: capitalize;
    border-radius: 8px;
    width: 70px; 
    height:40px;
    padding: 2px; 
}

.main .lower button{
    border: 0.5px solid #D0D5DD;
    background-color: #fff;
    color:#344054;
}

.main .lower button.primary{
    border: 0.5px solid #1C7C92 !important;
    background-color: #1C7C92 !important;
    color:#fff !important;
    width: auto;
    padding: 0.5rem;
}