.app-main-view {
    padding: 1rem;

    .app-search-bar {
        display: flex;
        justify-content: flex-end;

        .search_panel{
            width: 25rem !important;
        }
        input {
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }
    }

    .app-loading-header {
        
        .app-header-text{
            font-weight: 600;
            font-size: 1.25rem;
            color: #116173;
        }
    }

    .app-loading-img {
        width: 60rem;
        margin: auto;
        border-radius: 0.6rem;
        background-color: #ffffff;
        border: 1px solid #E8E8E8;
        padding: 3rem;

        .content {
            ul {
                li {
                    margin-bottom: 0.5rem;
                    font-size: 1.25rem;
                }
            }
        }

        .img-mainview {
            width: 22rem;

            img {
                width: 100%;
                height: 100%;
            }
        } 
    }

    .app-loading-footer {
        padding: 1rem;
        border-radius: 0.5rem;

        button{
            font-size: 0.875rem !important;
            line-height: 1rem !important;
        }
    }
}