<div class="feature-container h-100">

    <div class="feature-breadcrumb d-none">
        <app-navigator-breadcrumb></app-navigator-breadcrumb>
    </div>

    <div class="feature-body h-100 app-main-view">

        <!-- <div class="app-filter app-search-bar py-3">

            <div class="search_panel  searchToggle">

                <span class="search_icon" ngbTooltip="Search" container="body"><i class="oci oci-search"></i></span>
        
                <input type="text" class="form-control search_input" placeholder="Search">
        
                <span ngbTooltip="Clear Search" container="body" class="clear_search_icon"><i
                        class="oci oci-x"></i>
        
                </span>
            </div>

        </div> -->

        <div class="app-body app-body-main py-5 d-flex-center">

            <div>
                <div class="app-loading-header text-center py-3">
                    <span class="app-header-text">Build Your First View</span>
                </div>

                <div class="app-loading-img">
                    <div class="row mx-0">
                        <div class="content col-sm-4 px-0 flex-center">
                            <ul>
                                <li>Add Widgets</li>
                                <li>Customize your view</li>
                                <li>Analyze logs</li>
                                <li>Set your scope</li>
                            </ul>
                            
                        </div>
                        <div class="col-sm-8 px-0 img-mainview m-auto">
                            <img src="/servermonitoring/assets/images/default/mainView2.png" 
                                alt="Illustration of a person analyzing data on a computer and mobile device">
                        </div>
                    </div>
                </div>
                
                <div class="app-loading-footer d-flex-center">
                    <button type="button" class="btn btn-layout btn-bg-theme" (click)="add_environment()">
                        <i class="oci oci-plus me-2"></i> Start Building Your View
                    </button>
                </div>
            </div>

        </div>
        
    </div>
</div>