<div class="sidebar-menu-body flex-box-column">

    <div class="sidebar-menu-toolbar border-bottom pb-3 px-3">
        <button type="button" class="btn btn-layout btn-bg-theme" (click)="add_environment()" 
            aria-label="Add Environment" style="padding: 0.5rem 1rem;"> 
            <i class="oci oci-plus me-1"></i> View
        </button>
    </div>

    <div class="sidebar-menu-content scrollable pt-3" style="height: calc(100vh - 7.5rem);">
        <nav>
            <ul class="nav nav-pills menu-category">

                @for (view of totalViews; track view.viewId) {
                <li class="nav-item">

                    <a class="nav-link" href="javascript:void(0)" (click)="settingsViewSelect(view)"
                        [ngClass]="selectedViewSettings && view.viewName == selectedViewSettings.viewName?'active':''">
                      
                        <div class="d-flex-between">
                            <ng-container *ngIf="view?.isRenamed;else nameOnly">
                                <input type="text" [(ngModel)]="view.viewName" (blur)="renameView(view)" id='renameInput'>
                            </ng-container>
                            <ng-template #nameOnly>
                                <span class="name text-ellipsis" style="display:flex;" >
                                    <div (click)="unStarView(view)" *ngIf="view?.isStarred;else unStar">

                                        <i class="oci oci-star font-bold pe-1" style="color: gold;"></i>
                                      
                                    </div>
                                    <ng-template #unStar>
                                        <div (click)="starView(view)">

                                            <i class="oci oci-star pe-1"></i>
                                          
                                        </div>
                                    </ng-template>
                                    <span  class="text-ellipsis">{{view.viewName}}</span>
                                    </span>
                           
                            <span class="flex-center ps-1">
                                <span class="label-status me-2 {{view.accessType}}" *ngIf="view.accessType != 'SHARED'">{{view.accessType | titlecase}} </span> 

                                <div class="message-list pe-2" *ngIf="view.accessType == 'SHARED'">
                                    <!-- for 3 to 4 images start loop in img tag -->
                                    <img src="assets/images/default/profile.png" class="profile-pic" alt="User 1">
                                    <!-- ---loop end here---- -->
                                    <div class="more-count">+1</div>
                                </div>
                              
                                <div class="dropdown">
                                    <button type="button" class="btn dropdown-toggle remove-icon-drop btn-layout-more"
                                        data-bs-toggle="dropdown">
                                        <i class="oci oci-more-vertical"></i>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="javascript:void(0)"(click)="renameSelectedView(view)" >Rename</a></li>
                                        <li><a class="dropdown-item" href="javascript:void(0)"(click)="deleteSelectedView(view)" >Delete</a></li>
                                    </ul>
                                </div>
                            </span>
                        </ng-template>
                        </div>

                    </a>

                </li>
                }

            </ul>
        </nav>
    </div>

</div>