<section class="app-section-main">

   

   

    <kendo-splitter orientation="horizontal" style="border-color: transparent;">
     
        <kendo-splitter-pane  min="20%" max="40%" size="20%">
              <div class="left-section">
            
                    @if (service_data.UserDto) {
                        <app-navigator-left (onLeftPanelDataChange)="leftPanelDataUpdate($event)"></app-navigator-left>
                    }
              
              </div>
        </kendo-splitter-pane>
        <kendo-splitter-pane >
             
                <div class="right-section">
        
                    @if (isOpenSettings) {
                        <app-view-summary-details [Settings_View_Selection]="objSettings.selectedViewSettings" [child_data]="{obj_configuration_setting: obj_configuration_setting}"></app-view-summary-details>
                        <!-- app-environment-manager-settings -->
                        <!-- <app-environment-manager-settings [Settings_View_Selection]="objSettings.selectedViewSettings" [child_data]="{obj_configuration_setting: obj_configuration_setting}"></app-environment-manager-settings> -->
                    }
                    @else if(selectedView && selectedAnalyticsType) {
                        <app-environment-manager-main-right [child_data]="{selectedAnalyticsType: selectedAnalyticsType,selectedView:selectedView}">
                        </app-environment-manager-main-right>
                    }
                </div>
             
        </kendo-splitter-pane>
  
      
  
     
      </kendo-splitter>

</section>