<div class="logs-panel">

    <div class="graph-timeseries mb-3">
        graph here
    </div>

    <div class="logs-grid-layout">
        <kendo-grid 
            [data]="logDataSource" 
            [selectable]="true" 
            (selectionChange)="onSelectionChange($event)" 
            class="scrollable">

            <kendo-grid-column title="" [width]="10">

                <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">

                    <span class="layout-status layout-status-color success">

                    </span>

                </ng-template>
            </kendo-grid-column>

            <kendo-grid-column field="date" title="Date">
            </kendo-grid-column>
            <kendo-grid-column field="host" title="Host">
            </kendo-grid-column>
            <kendo-grid-column field="service" title="Service">
            </kendo-grid-column>
            <kendo-grid-column field="content" title="Content">
            </kendo-grid-column>

            <ng-template kendoGridNoRecordsTemplate>
                <div class="no_data_found" style="height: 17rem !important;">
                    <div class="no_data_found_content">
                        <img class="no_data_found_content_img" src="/assets/icon-image/nodata-img.png" alt="No data">
                        <p class="no_data_found_content_text">No data available</p>
                    </div>
                </div>
            </ng-template>
        </kendo-grid>
    </div>
</div>