<div class="logs-panel">

    @if(analyticsType.type != 'ERP_ANALYTICS_DATASOURCE'){
        <div id="chart" class="graph-timeseries mb-3 position-relative" >
    
        
            <!-- <h2>Log Usage Over Time</h2> -->
            <apx-chart  *ngIf="chartOptions?.series?.length > 0"
            [series]="chartOptions?.series"
            [chart]="chartOptions?.chart"
            [dataLabels]="chartOptions?.dataLabels"
            [plotOptions]="chartOptions?.plotOptions"
            [responsive]="chartOptions?.responsive"
            [xaxis]="chartOptions?.xaxis"
            [legend]="chartOptions?.legend"
            [fill]="chartOptions?.fill"
          ></apx-chart>
          <kendo-dropdownlist
          [data]="logTypes"
          [(ngModel)]="selectedLogType"
          (valueChange)="updateChart()" class="graph-status-dropdown">
          </kendo-dropdownlist>
          </div>
    }
   

    <div id="logs-grid"  class="logs-grid-layout">
        <kendo-grid 
            [data]="logDataSource" 
            [selectable]="true" 
            (cellClick)="onSelectionChange($event)"
            class="scrollable custom-grid-height"
            (scrollBottom)="onScroll()"
            [style.height]="'calc(100vh - 10rem)'"
            >

            <kendo-grid-column title="" [width]="10">

                <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">

                    <span class="layout-status-logs layout-status-color success">

                    </span>

                </ng-template>
            </kendo-grid-column>

            <kendo-grid-column field="timeStampString" title="Time">
                <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                    <span ngbTooltip="{{dataItem?.timeStampString}}">{{dataItem?.timeStampString}}</span>
                </ng-template>
            </kendo-grid-column>
            <kendo-grid-column field="userId" title="User">
                <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                    <span ngbTooltip="{{dataItem?.timeStampString}}">{{dataItem?.userId}}</span>
                </ng-template>
            </kendo-grid-column>
            <kendo-grid-column field="domainName" title="Domain">
                <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                    <span ngbTooltip="{{dataItem?.domainName}}">{{dataItem?.domainName}}</span>
                </ng-template>
            </kendo-grid-column>
            <kendo-grid-column field="logName"  title="Log Name">
                <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                    <span ngbTooltip="{{dataItem?.logName}}">{{dataItem?.logName}}</span>
                </ng-template>
            </kendo-grid-column>

            <ng-template kendoGridNoRecordsTemplate>
                <div class="no-data-found" style="height: 17rem !important;">
                    <div class="no-data-found-content">
                        <img class="no-data-found-content-img" src="/assets/icon-image/nodata-img.png" alt="No data">
                        <p class="no-data-found-content-text">No data available</p>
                    </div>
                </div>
            </ng-template>
        </kendo-grid>
    </div>
</div>