<div class="logs-panel">

    <div id="chart" class="graph-timeseries mb-3">
        <!-- <h2>Log Usage Over Time</h2> -->
        <apx-chart  *ngIf="chartOptions.series.length > 0"
        [series]="chartOptions.series"
        [chart]="chartOptions.chart"
        [dataLabels]="chartOptions.dataLabels"
        [plotOptions]="chartOptions.plotOptions"
        [responsive]="chartOptions.responsive"
        [xaxis]="chartOptions.xaxis"
        [legend]="chartOptions.legend"
        [fill]="chartOptions.fill"
      ></apx-chart>
      </div>

    <div class="logs-grid-layout">
        <kendo-grid 
            [data]="logDataSource" 
            [selectable]="true" 
            (selectionChange)="onSelectionChange($event)" 
            class="scrollable">

            <kendo-grid-column title="" [width]="10">

                <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">

                    <span class="layout-status layout-status-color success">

                    </span>

                </ng-template>
            </kendo-grid-column>

            <kendo-grid-column field="timeStampString" title="Date">
            </kendo-grid-column>
            <kendo-grid-column field="dataId" title="Host">
            </kendo-grid-column>
            <kendo-grid-column field="appType" title="Service">
            </kendo-grid-column>
            <kendo-grid-column title="Content">
                <ng-template kendoGridCellTemplate let-dataItem>
                    {{ dataItem.domainName }} - {{ dataItem.logType }}
                </ng-template>
            </kendo-grid-column>

            <ng-template kendoGridNoRecordsTemplate>
                <div class="no_data_found" style="height: 17rem !important;">
                    <div class="no_data_found_content">
                        <img class="no_data_found_content_img" src="/assets/icon-image/nodata-img.png" alt="No data">
                        <p class="no_data_found_content_text">No data available</p>
                    </div>
                </div>
            </ng-template>
        </kendo-grid>
    </div>
</div>