

<div id="modal-view-bilder" class="modal-content-wrapper flex-box-column">

    <div class="modal-header">
    
        <h3 class="modal-h-title">Add View</h3>

        <div class="modal-header-right">
            <button class="btn btn-bg-white btn-mh-right" (click)="activeModal.dismiss('Cross click')">Close</button>
        </div>

    </div>

    <div class="modal-body">

        <div class="panel-selection">

            <div class="selection-left">
                <ul class="list-group">
                    <li class="list-group-item">Select Data-Sources</li>
                    <li class="list-group-item">Value of Data-Sources</li>
                    <li class="list-group-item">Create View</li>
                </ul>
            </div>
    
            <div class="selection-right">

                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" class="form-control">
                </div>

                <div class="mb-3">
                    <label for="acces-type">Acces Type</label>
                    <input type="text" class="form-control">
                </div>

                <div class="mb-3">
                    <div class="row mx-0">
                        @for(item of select_datasource; track item.displayname) {
                            <div class="col-6">
                                <div>
                                    <h4 (click)="item.showServices = !item.showServices">{{item.displayname}}</h4>
                
                                    <p>
                                        <span class="d-block">{{item.title}}</span>
                                        <span class="d-block">{{item.subtitle}}</span>
                                    </p>
                                </div>
                
                                @if(item.display_services && item.showServices) {
                                    <div class="ps-4">
                                        @for(dataItem of item.services; track dataItem.displayname) {
                                            <div class="form-check mb-3">
                                                <label class="form-check-label">
                                                  <input class="form-check-input" type="checkbox" 
                                                         [checked]="isSelected(item.displayname, dataItem.displayname)"
                                                         (change)="onServiceSelection(item.displayname, dataItem.displayname, $event)">
                                                  <span>
                                                    <i class="oci oci-{{dataItem.icon}}"></i>
                                                    {{dataItem.displayname}}
                                                  </span>
                                                </label>
                                            </div>
                                        }
                                    </div>
                                }
                            </div>
                        }
                    </div>
                </div>
                
                

            </div>

        </div>

    </div>

    <div class="modal-footer border-top-0">
        <button type="button" class="btn btn-layout btn-bg-theme" (click)="create_environment()">Next</button>
    </div>
    
</div>
