

<div id="modal-view-bilder" class="modal-content-wrapper flex-box-column">

    <div class="modal-header bg-theme rounded-0">
    
        <h3 class="modal-h-title text-white">Add View</h3>

        <div class="modal-header-right">
            <button class="btn text-light" (click)="activeModal.dismiss('Cross click')">
                <i class="oci oci-x"></i>
            </button>
        </div>

    </div>

    <div class="modal-body pt-4">

        <div class="panel-selection">

            <div class="selection-left">

                <ul class="stepper-content">

                    <li class="active">
                        <span class="icon">1</span>
                        Select Data-Sources
                    </li>

                    <li>
                        <span class="icon">2</span>
                        Value of Data-Sources
                    </li>

                    <li>
                        <span class="icon">3</span>
                        Create View
                    </li>

                </ul>
            </div>
    
            <div class="selection-right">

                <div>
                    <p class="selection-header">
                        Add your view by selecting multiple data sources
                    </p>
                </div>

                <div class="row mx-0 mb-3">
                    <div class="col-sm-5 ps-0">
                        <label for="name" class="form-label">Name <span class="text-astric">*</span></label>
                        <input type="text" class="form-control">
                    </div>
                </div>

                <div class="row mx-0 mb-3">
                    <div class="col-sm-5 ps-0">
                        <label for="acces-type" class="form-label">Acces Type <span class="text-astric">*</span></label>
                        <input type="text" class="form-control">
                    </div>
                </div>

                <div class="row mx-0 mb-3">
                    <div class="col-sm-12 px-0">
                        <label for="acces-type" class="form-label">Add Data-Sources<span class="text-astric">*</span></label>
                        <div class="row mx-0">
                            @for(item of select_datasource; track item.displayname) {
                                <div class="col-5 ps-0 mb-3 me-3">
                                    <div class="data-source-category active" (click)="item.showServices = !item.showServices">
                                        <h4 class="text-center pb-3 header">{{item.displayname}}</h4>
                    
                                        <p style="padding-top: 2rem;">
                                            <span class="d-block text-center font-14px">{{item.title}}</span>
                                            <span class="d-block text-red text-center pt-2 font-14px">{{item.subtitle}}</span>
                                        </p>
                                        
                                        <span class="checked-data-source">
                                            <i class="oci oci-check element-center"></i>
                                        </span>
                                    </div>
                    
                                    @if(item.display_services && item.showServices) {
                                        <div class="data-source-item">
                                            @for(dataItem of item.services; track dataItem.displayname) {

                                                @if(item.displayType == 'UserBehaviorAnalytics') {
                                                    <div class="form-check mb-3 ps-0">
                                                        <label class="form-check-label flex-center">
                                                        <input class="chekbox-custom" type="checkbox" 
                                                                [checked]="isSelected(item.displayname, dataItem.displayname)"
                                                                (change)="onServiceSelection(item.displayname, dataItem.displayname, $event)">
                                                        <span class="flex-center">
                                                            <!-- <i class="oci oci-{{dataItem.icon}} px-2"></i> -->
                                                            <span class="img-avatar-profile">
                                                                <img src="assets/images/default/{{dataItem.icon}}.png" alt="">
                                                            </span>
                                                            <span>
                                                                <span class="d-inline-block font-bold font-14px">
                                                                    {{dataItem.displayname}}
                                                                </span>
    
                                                                <span class="d-block email-text-color font-14px">
                                                                    {{dataItem.email}}
                                                                </span>
                                                            </span>
                                                        </span>
                                                        </label>
                                                    </div>
                                                }

                                                @else {
                                                    <div class="form-check mb-3 ps-0">
                                                        <label class="form-check-label flex-center">
                                                        <input class="chekbox-custom" type="checkbox" 
                                                                [checked]="isSelected(item.displayname, dataItem.displayname)"
                                                                (change)="onServiceSelection(item.displayname, dataItem.displayname, $event)">
                                                        <span>
                                                            <!-- <i class="oci oci-{{dataItem.icon}} px-2"></i> -->
                                                           <span class="application-images">
                                                            <img src="assets/images/default/application/{{dataItem.icon}}.png" alt="">
                                                           </span>
                                                           <span class="font-14px">
                                                                {{dataItem.displayname}}
                                                           </span>
                                                        </span>
                                                        </label>
                                                    </div>
                                                }

                                                
                                            }
                                        </div>
                                    }
                                </div>
                            }
                        </div>
                    </div>
                </div>
                
                

            </div>

        </div>

    </div>

    <div class="modal-footer border-top-0">
        <button type="button" class="btn btn-layout btn-bg-theme" (click)="create_environment()">Next</button>
    </div>
    
</div>
