<div class="configuration-view-summary">

    <h4 class="text-header mb-3">Add Access Type to complete</h4>

    <div class="row mx-0 mb-4">
        <div class="col-sm-5 ps-0">
            <label for="accessType" class="form-label">Access Type <span class="text-astric">*</span></label>
            
            <div class="dropdown access-type-layout">
                <button (click)="OnAccessTypeClick()"type="button" class="btn btn-bg-white bt-dropdown-icon d-flex-between w-100 dropdown-toggle {{ selectedAccessType }}" data-bs-toggle="dropdown">
                  <span>
                    {{ selectedAccessType }}
                  </span>
                </button>
               
            </div>
            <div *ngIf="Show_Project_Access" class="dropdown mt-3">
                <button type="button" class="btn btn-bg-white bt-dropdown-icon d-flex-between w-100 dropdown-toggle font-14px" data-bs-toggle="dropdown">
                  Select Users
                </button>
                <ul class="dropdown-menu w-100 dropdown-menu-scrollable">
                    <li *ngFor="let user of users" class="dropdown-item">
                        <div class="form-check">
                            <input
                                class="form-check-input chekbox-custom me-2"
                                type="checkbox"
                                [id]="user.U_ID"
                                (change)="onUserSelect(user, $event)">
                            <label class="form-check-label" [for]="user.U_ID">
                                {{ user.UserName }}
                            </label>
                        </div>
                    </li>
                </ul>
            </div>

        </div>
    </div>

    <div class="row mx-0 mb-3 align-items-center">
        <div class="col-6 px-0">
            <h4 class="text-header mb-0">View Summary</h4>
        </div>

        <!-- <div class="col-6 px-0">
            <div class="search_panel searchToggle ms-auto" style="width: 20rem;">
    
                <span class="search_icon" ngbTooltip="Search" container="body">
                    <i class="oci oci-search"></i>
                </span>
        
                <input type="text" class="form-control search_input" placeholder="Search">
        
                <span ngbTooltip="Clear Search" container="body" class="clear_search_icon"><i
                    class="oci oci-x"></i>
                </span>
            </div>
        </div> -->
    </div>
    

    <div class="row mx-0 mb-3">
        <div class="col-12 px-0">

            <div id="accordion_summary" class="accordion-view-summary">

               @if(obj_configuration_setting.selected_datasource != null && obj_configuration_setting.selected_datasource.select_datasource_item.length != 0) {

                    @for(item of obj_configuration_setting.selected_datasource.select_datasource_item; track item.id) {

                        @if(item.name == 'ERP Analytics') {

                            <div class="card">
                                <div class="card-header">
                                    <a class="btn btn-accordion" data-bs-toggle="collapse" data-bs-target="#collapse_ERPAnalytics">
                                        ERP Analytics
                                    </a>
                                </div>
                                <div id="collapse_ERPAnalytics" class="collapse show">
                                    <div class="card-body px-0">
            
                                        <div class="kendo_grid">
                                            <kendo-grid #grid_Selected_Instance_list [data]="Selected_grid_dataSource"
                                                (cellClick)="onCellClick($event)" [selectable]="true" [navigable]="true"
                                                (selectionChange)="onSelectionChange($event)"
                                                class="scrollable grid_remove_vertical_border k_grid_header_pr_0">
                                                <kendo-grid-column field="SystemIdentifier" title="Instances">
                                                    <ng-template kendoGridCellTemplate let-dataItem>
                                                        <div class="flex-center">
                                                            <span class="application-images ms-0">
                                                                <img src="assets/images/default/application/{{dataItem.Application}}.png"
                                                                    alt="{{dataItem.Application}}">
                                                            </span>
                                                            <span class="layout-text-obiq ps-2">{{dataItem.SystemIdentifier}}</span>
                                                        </div>
                                                    </ng-template>
                                                </kendo-grid-column>
            
                                                <kendo-grid-column field="CreatedBy" title="Created">
                                                    <ng-template kendoGridCellTemplate let-dataItem>
                                                        <div class="flex-center">
                                                            <span class="img-app-profile">
                                                                <img src="assets/images/default/profile.png" alt="">
                                                            </span>
                                                            <div class="ps-2">
                                                                <span class="layout-text-name">{{dataItem.CreatedBy}}</span>
                                                                <span class="layout-text-date">{{dataItem.CreatedOn | date:'MMM d, y, h:mm:ss a'}}</span>
                                                            </div>
                                                        </div>
                                                    </ng-template>
                                                </kendo-grid-column>
                                             
                                                <kendo-grid-column field="ModifiedBy" title="Last Modified">
                                                    <ng-template kendoGridCellTemplate let-dataItem>
                                                        <div class="flex-center">
                                                            <span class="img-app-profile">
                                                                <img src="assets/images/default/profile.png" alt="">
                                                            </span>
                                                            <div class="ps-2">
                                                                <span class="layout-text-name">{{dataItem.ModifiedBy}}</span>
                                                                <span class="layout-text-date">{{dataItem.ModifiedOn | date:'MMM d, y, h:mm:ss a'}}</span>
                                                            </div>
                                                        </div>
                                                    </ng-template>
                                                </kendo-grid-column>
            
                                                <ng-template kendoGridNoRecordsTemplate>
                                                    <div class="no-data-found" style="height: 17rem !important;">
                                                        <div class="no-data-found-content">
                                                            <img class="no-data-found-content-img"
                                                                src="/assets/icon-image/nodata-img.png" alt="No data">
                                                            <p class="no-data-found-content-text">No data available</p>
                                                        </div>
                                                    </div>
                                                </ng-template>
                                            </kendo-grid>
                                        </div>
            
                                    </div>
                                </div>
                            </div>

                        }

                        @if(item.name == 'System Diagnostics') {
                            
                            <div class="card">
                                <div class="card-header">
                                    <a class="btn btn-accordion" data-bs-toggle="collapse" data-bs-target="#collapse_systemDiagnostics">
                                        System Diagnostics
                                    </a>
                                </div>
                                <div id="collapse_systemDiagnostics" class="collapse show">
                                    <div class="card-body px-0">
                                        <div class="kendo_grid">
                                            <kendo-grid #grid_Selected_Instance_list [data]="selected_grid_System_Diagnostics"
                                                [selectable]="false" [navigable]="true"
                                                class="scrollable grid_remove_vertical_border k_grid_header_pr_0">
                                                <kendo-grid-column field="SystemIdentifier" title="OBIQ Agent">
                                                    <ng-template kendoGridCellTemplate let-dataItem>
                                                        <div class="flex-center">
                                                            <span class="layout-text-obiq ps-2">{{dataItem.OBIQ_Agent}}</span>
                                                        </div>
                                                    </ng-template>
                                                </kendo-grid-column>
            
                                                <kendo-grid-column field="CreatedBy" title="URL">
                                                    <ng-template kendoGridCellTemplate let-dataItem>
                                                        <div class="flex-center">
                                                          
                                                            <div>
                                                                <span class="layout-text-date">{{dataItem.Unique_Code}}</span>
                                                            </div>
                                                        </div>
                                                    </ng-template>
                                                </kendo-grid-column>
            
                                                <ng-template kendoGridNoRecordsTemplate>
                                                    <div class="no-data-found" style="height: 17rem !important;">
                                                        <div class="no-data-found-content">
                                                            <img class="no-data-found-content-img"
                                                                src="/assets/icon-image/nodata-img.png" alt="No data">
                                                            <p class="no-data-found-content-text">No data available</p>
                                                        </div>
                                                    </div>
                                                </ng-template>
                                            </kendo-grid>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        }

                        @if(item.name == 'User Behaviour Analytics') {
                            
                            <div class="card">
                                <div class="card-header">
                                    <a class="btn btn-accordion" data-bs-toggle="collapse" data-bs-target="#collapse_user">
                                        User Behavior Analytics
                                    </a>
                                </div>
                                <div id="collapse_user" class="collapse show">
                                    <div class="card-body px-0">
                                        <div class="kendo_grid">
                                            <kendo-grid [data]="selected_user_behaviour_component"
                                                [selectable]="false" [navigable]="true"
                                                class="scrollable grid_remove_vertical_border k_grid_header_pr_0">

                                                <kendo-grid-column title="Agents">
                                                    <ng-template kendoGridCellTemplate let-dataItem>
                                                        <div class="flex-center">
                                                            <span class="img-app-profile">
                                                                <img src="assets/images/default/profile.png" alt="">
                                                            </span>
                                                            <div class="ps-2">
                                                                <span class="layout-text-name">{{dataItem.name}}</span>
                                                                <span class="layout-text-date">{{dataItem.email}}</span>
                                                            </div>
                                                        </div>
                                                    </ng-template>
                                                </kendo-grid-column>
            
                                                <ng-template kendoGridNoRecordsTemplate>
                                                    <div class="no-data-found" style="height: 17rem !important;">
                                                        <div class="no-data-found-content">
                                                            <img class="no-data-found-content-img"
                                                                src="/assets/icon-image/nodata-img.png" alt="No data">
                                                            <p class="no-data-found-content-text">No data available</p>
                                                        </div>
                                                    </div>
                                                </ng-template>
                                            </kendo-grid>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        }

                        @if(item.name == 'Test Automation Analysis') {

                            <div class="card">
                                <div class="card-header">
                                    <a class="btn btn-accordion" data-bs-toggle="collapse" data-bs-target="#collapse_testAutomation">
                                        Test Automation Analysis
                                    </a>
                                </div>
                                <div id="collapse_testAutomation" class="collapse show">
                                    <div class="card-body px-0">
                                        <div class="kendo_grid">
                                            <kendo-grid [data]="selected_test_automation_analysis"
                                                [selectable]="false" [navigable]="true"
                                                class="scrollable grid_remove_vertical_border k_grid_header_pr_0">
                                                <kendo-grid-column field="AgentName" title="User Name">
                                                    <ng-template kendoGridCellTemplate let-dataItem>
                                                        <div class="flex-center executionAgent">               
                                                            <span class="status me-2" [ngClass]="dataItem.status=='online'? 'online':'offline'"></span>
                                                            <span class="layout-text-obiq ps-1">{{dataItem?.AgentName}}</span>
                                                        </div>
                                                    </ng-template>
                                                </kendo-grid-column>
                                            
                                                <kendo-grid-column field="AgentName" title="Agent Name">
                                                    <ng-template kendoGridCellTemplate let-dataItem>
                                            
                                                        <div class="flex-center">
                                                            <span class="layout-text-date">{{dataItem?.AgentName}}</span>
                                                        </div>
                                                    </ng-template>
                                                </kendo-grid-column>
                                            
                                                <kendo-grid-column field="ModifiedBy" title="Server URL">
                                                    <ng-template kendoGridCellTemplate let-dataItem>
                                                        <div class="flex-center">
                                                            <span class="layout-text-date">myqlm.opkeyone.com</span>
                                                        </div>
                                                    </ng-template>
                                                </kendo-grid-column>
            
                                                <ng-template kendoGridNoRecordsTemplate>
                                                    <div class="no-data-found" style="height: 17rem !important;">
                                                        <div class="no-data-found-content">
                                                            <img class="no-data-found-content-img"
                                                                src="/assets/icon-image/nodata-img.png" alt="No data">
                                                            <p class="no-data-found-content-text">No data available</p>
                                                        </div>
                                                    </div>
                                                </ng-template>
                                            </kendo-grid>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        }


                    }

                }

             
            </div>

        </div>
    </div>

</div>