.text-header {
    font-size: 1.25rem;
    font-weight: 600;
    color: #344054;
}

.accordion-view-summary {
    .card {
        border: none;

        & + .card {
            margin-top: 1rem;
        }

        .card-header {
            padding: 0rem;
            border: none;

            .btn-accordion {
                width: 100%;
                text-align: left;
                padding-right: 2rem;
                position: relative;
                border-radius: 1.5rem;
                background-color: #fff;
                border-color: #116173;
                color: #116173;
                font-weight: 600;

                &::after {
                    border-width: 0 !important;
                    font-family: cs-icon !important;
                    content: "\e907" !important;
                    font-size: .75rem;
                    color: #667085;
                    margin-left: .5rem !important;
                    position: absolute;
                    right: 1rem;
                    top: 25%;
                }
            }
        }

        .card-body {
            padding-top: 0.75rem;
        }
    }
}