.logs-tab-info-section {
    width: 100%;
    height: 100%;
    display: flex;

    .menu_navbar_nav.left-section {
        width: 15rem;
        height: calc(100vh - 14.6rem);
        margin-right: 0.5rem;
        border-right: 1px solid #ddd;
        padding-top: 2rem;
        

        .nav-pill {
            padding-left: 0 !important;
            list-style: none;

            .nav_links {
                background: #fff;
                padding: .75rem .875rem .75rem 1rem;
                font-size: 1rem;
                color: #667085;
                text-decoration: none !important;
                display: block;
                border-right: 2px solid transparent;

                &:hover {
                    background-color: rgba(17, 97, 115, .08);
                }
            }

            .nav_links.active {
                background-color: rgba(17, 97, 115, .08);
                border-right: 2px solid #116173;
            }

        }

    }

    .right-section {
        width: calc(100% - 15rem);
        height: 100%;
        padding-left: 1rem;
        height: calc(100vh - 14.6rem);
        padding-top: 2rem;

        .log-details {
            padding: 0.5rem;
            // background-color: #ddd;
            background: #F0F0F0;
            color: #000;
            position: relative;
        
            .copy-placement-top {
                position: absolute;
                top: 4px;
                right: 1px;
                border: 0;
                padding: 4px 6px;
                border-radius: 0;
            }
        }
    }
}