<section class="logs-tab-info-section menu_body scrollable">

    <div class="menu_navbar_nav left-section">
        <ul class="nav-pill">
            <li class="nav_items" (click)="selectedTab = 'summarizedLog' ">
                <a href="javascript:void(0)" class="nav_links" [ngClass]="{ 'active' : selectedTab == 'summarizedLog' }">
                    <span class="d-flex align-items-center justify-content-between w-100">
                        <span class="line_h_normal" style="width: calc(100% - 2rem);">
                            <span class="sp_nav_text">
                                Summarized logs
                            </span>
                        </span>
                        
                        <!-- <i class="oci oci-chevron-right font_14px mt-1"></i> -->
                    </span>
                </a>

                <!-- <a class="nav_link active" href="javascript: void(0)"
                    (click)="selectedTab = 'summarizedLog' ">Summarized logs</a> -->
            </li>

            <li class="nav_items" (click)="selectedTab = 'fullLog' ">

                <a href="javascript:void(0)" class="nav_links" [ngClass]="{ 'active' : selectedTab == 'fullLog' }">
                    <span class="d-flex align-items-center justify-content-between w-100">
                        <span class="line_h_normal" style="width: calc(100% - 2rem);">
                            <span class="sp_nav_text">
                                Full logs
                            </span>
                        </span>
                        
                        <!-- <i class="oci oci-chevron-right font_14px mt-1"></i> -->
                    </span>
                </a>

                <!-- <a href="javascript: void(0)" (click)="selectedTab = 'fullLog' ">Full logs</a> -->
            </li>
        </ul>
    </div>

    <div class="right-section scrollable">
        <div class="log-details">

            <button type="button" class="btn copy-placement-top" ngbTooltip="Copy" container="body" 
                aria-label="Copy" triggers="mouseenter:mouseleave">
                <i class="oci oci-copy-all font-18px"></i>
            </button>

            <span class="p-3 pe-4 word-wrap d-block" style="white-space: pre-line;">
                {{ selectedData[selectedTab] }}
            </span>

        </div>
    </div>
</section>