<div class="feature-container flex-box-column">

    <div class="feature-header">
        <app-navigator-breadcrumb></app-navigator-breadcrumb>
    </div>

    <div class="feature-body h-100">
        
        <div class="app-loading-cmp">
            <div class="app-loading-img">
                <img src="/servermonitoring/assets/images/default/server.gif">
            </div>
            <div class="app-loading-footer">
                <button type="button" class="btn btn-layout btn-bg-theme" (click)="add_environment()">Add Environment</button>
            </div>
        </div>
       

        
    </div>
</div>