
<div class="showndiv d-flex">
    <app-filter-search (searchedText)="searched($event)"></app-filter-search>
    <app-filter-erp-application (onSelectedApplicationChange)="changeApplication($event)"></app-filter-erp-application>
    <div class="filter_content">
        <button  class="btn bt_dropdown bt_dropdown_filter bt_more_filter position-relative" type="button">
            <span class="sp_dropdown">
                <i class="oci oci-trace font_16px" container="body" ngbtooltip="Filter"></i>
              <div class="filter_count">{{filterCount}}</div>
            </span>
        </button>
    </div>
    <button>Search</button>
</div>