.total-errors-details {
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1019607843);
    border-top: 2px solid #116173;
    height: calc(100% - 2rem);
    //height: 10rem;
    // min-width: 10rem;
    // margin: 0rem 1rem 0rem 0rem;
    // max-width: 30rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 0.25rem;

    .error-value {
        font-weight: 600;
        // font-size: 1.25rem;
        color: #E00000;
        // line-height: 1rem;
    }

    .error-value-last {
        .error-percentage {
            font-size: 0.875rem;
            color: #B42318;
        }
        .success-percentage {
            font-size: 0.875rem;
            color: #268144;
        }
    }
}

.graph-custom-wh{
    width: calc(100% - 0rem);
    height: calc(100% - 0rem);
    overflow: auto;
    padding: 0.5rem;
}