<h6 class="mb-3 font-bold">
    Choose Instances 
    <span *ngIf="obj_error.dispaly_Instances" class="form-error">Instance selection is required.</span>
</h6>

<kendo-grid 
    #grid_application 
    [data]="Instance_list" 
    (cellClick)="onCellClick($event)"
    [selectable]="true" 
    [navigable]="true"
    (selectionChange)="onSelectionChange($event)"
    [selectable]="{ checkboxOnly: true, mode: 'multiple' }" 
    class="scrollable grid_remove_vertical_border k_grid_header_pr_0 checkbox-custom-kendo"
    kendoGridSelectBy="SettingsID"
    [(selectedKeys)]="selectedKeys">
    
    <kendo-grid-checkbox-column [showSelectAll]="true" [width]="50">
    </kendo-grid-checkbox-column>

    <kendo-grid-column field="SystemIdentifier" title="Instances">
        <ng-template kendoGridCellTemplate let-dataItem>
            <div class="flex-center">
                <span class="application-images">
                    <img src="assets/images/default/application/{{dataItem.Application}}.png"
                        alt="{{dataItem.Application}}">
                </span>
                <span class="layout-text-obiq">{{dataItem.SystemIdentifier}}</span>
            </div>
        </ng-template>
    </kendo-grid-column>

    <kendo-grid-column field="CreatedBy" title="Created">
        <ng-template kendoGridCellTemplate let-dataItem>

            <div class="flex-center">
                <span class="img-app-profile">
                    <img src="assets/images/default/profile.png" alt="">
                </span>
                <div class="ps-2">
                    <span class="layout-text-name">{{dataItem.CreatedBy}}</span>
                    <span class="layout-text-date">{{dataItem.CreatedOn | date:'MMM d, y, h:mm:ss a'}}</span>
                </div>
            </div>
        </ng-template>
    </kendo-grid-column>

    <!-- ModifiedBy Column with Date -->
    <kendo-grid-column field="ModifiedBy" title="Last Modified">
        <ng-template kendoGridCellTemplate let-dataItem>
            <div class="flex-center">
                <span class="img-app-profile">
                    <img src="assets/images/default/profile.png" alt="">
                </span>
                <div class="ps-2">
                    <span class="layout-text-name">{{dataItem.ModifiedBy}}</span>
                    <span class="layout-text-date">{{dataItem.ModifiedOn | date:'MMM d, y, h:mm:ss a'}}</span>
                </div>
            </div>
        </ng-template>
    </kendo-grid-column>

    <ng-template kendoGridNoRecordsTemplate>
        <div class="no-data-found" style="height: 17rem !important;">
            <div class="no-data-found-content">
                <img class="no-data-found-content-img" src="/assets/icon-image/nodata-img.png" alt="No data">
                <p class="no-data-found-content-text">No data available</p>
            </div>
        </div>
    </ng-template>
</kendo-grid>
