

html {
    height: 100%;
    font-size: 100%;
    scroll-behavior: smooth;
}

@media (min-width: 1921px) {
    html {
        font-size: 112.5%;
    }
}

@media (max-width: 1366px) {
    html {
        font-size: 81.25%;
    }
}

@media (max-width: 1024px) {
    html {
        font-size: 68.75%;
    }
}

body {
    margin: 0rem;
    padding: 0rem;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    color: #344054;
}

/*********************scss for scrolable*******************/

.scrollable {
    overflow: auto;
}

* {
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    scrollbar-width: thin;
}

*::-webkit-scrollbar-corner {
    background: rgba(0, 0, 0, 0.5);
}

*::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

*::-webkit-scrollbar-track {
    background: #ccc;
}

*::-webkit-scrollbar-thumb {
    background-color: #6f6d6d;
    border-radius: 20px;
    border: 3px solid #6f6d6d;
}

/*************scss for main feature container**************/
.feature-container {
    height: 100%;

    .feature-breadcrumb {
        display: none;
        .breadcrumb {
            padding: 1rem;
            .breadcrumb-item {
                .breadcrumb-link {
                    font-size: 0.875rem;
                    font-weight: 500;
                    line-height: 1.5rem;
        
                    &.active {
                        color: #116173;
                        text-decoration: none;
                        cursor: auto;
                    }
                }
            }
        }
    }

    .feature-body {
        width: 100%;
        height: auto;
        background: #FFFFFF;

        .app-filter {
            margin-bottom: 0.75rem;

            &.app-filter-content {
                display: flex;
                align-items: center;
                .left {
                    width: 15rem;
                    
                    h3 {
                        font-size: 1rem;
                        font-weight: 600;
                    }
                }
    
                .right {
                    width: 100%;

                    .filter-content {
                        margin-bottom: .5rem;
                        margin-right: .5rem;

                        .filter-content-btn {
                            padding: 0.4rem 0.75rem 0.5rem !important;
                            font-size: 0.875rem !important;
                            line-height: 1rem !important;
                        }

                        .search_panel {
                            .search_input {
                                box-shadow: 0px 1px 3px 0px #00000033 !important;
                                border: 1px solid transparent !important;
                            }
                        }

                        .layout-btn-group-time {
                            box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2) !important;
                            border-radius: 0.5rem;
                            .btn {
                                font-size: 0.875rem;
                                background-color: #fff;
                                color: #344054;
                                padding: 0rem;
                                line-height: 1;
                                margin-left: 0 !important;
                            }
                        }
                    } 
                }
            }
        }

        .app-body {
            height: 100%;
        }
    }

    .feature-body-height {
        height: 100% !important;
    }

}

.px-app {
    padding-left: 1.4rem;
    padding-right: 1.4rem;
}

/*******************css for common tab******************/
.tab_panel {
    margin-bottom: 1rem;

    .nav-tabs {
        border-bottom: 1px solid rgba(0, 0, 0, .1) !important;
        margin-bottom: 1rem;
        padding-left: 0rem;
        position: relative;
        right: 0;
        width: calc(100%);
        display: flex;
        margin-bottom: 1rem;
        list-style: none;

        li.nav-item {
            display: flex;
            padding: 0rem;
            flex-basis: auto;
            margin-right: 1.5rem;

            &:last-child {
                margin-right: 0rem !important;
            }

            .nav-link {
                border: 0;
                border-bottom: 0.1875rem solid transparent;
                padding: 0.5rem 0rem;
                padding-top: 0rem !important;
                font-size: 0.875rem;
                font-weight: 500;
                line-height: 1.375rem;
                color: #667085;

                &.active {
                    border-color: #116173 !important;
                    color: #116173 !important;

                    &:hover,
                    &:focus {
                        border-color: #116173 !important;
                    }
                }

                &:hover,
                &:focus {
                    border-color: transparent;
                }

            }

        }

        .nav_item_right {
            margin-left: auto;
            position: relative;

            .item_content {
                position: absolute;
                top: -0.3rem;
                right: 0;

                .bt_dropdown {
                    padding: 0.46rem 0.5rem !important;
                    color: #667085;
                    font-size: 0.75rem !important;

                    &.dropdown-toggle:after {
                        font-size: 0.75rem;
                        color: #667085;
                    }
                }
            }

        }
        
    }
    
}

.tab_view_content {
    margin: 0rem;
}

/***************scss for text color**************/
.text-theme {
    color: #116173 !important;
}

.text-red {
    color: #FF0404 !important;
}

.text-grey {
    color: #344054;
}

.text-grey-1 {
    color: #364155;
}

.text-grey-2 {
    color: #667085;
}

.form_error {
    color: #ff0000;
    font-size: 0.875rem;
    margin-top: 0.25rem;
}

/*****************other common app scss******************/
.flex-box-column {
    display: flex;
    flex-direction: column;
}

.element-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.flex-center {
    display: flex;
    align-items: center;
}

.d-flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.d-flex-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text-astric {
    color: #F90505 !important;
    font-size: 1rem;
    vertical-align: middle;
}

.img-app-profile {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;

    img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }
}

.layout-text-name {
    color: #101828;
    // font-size: 0.8125rem;
    font-size: 0.875rem;
    font-weight: 400;
    display: block;
}

.layout-text-date {
    color: #667085;
    // font-size: 0.8125rem;
    font-size: 0.875rem;
    font-weight: 400;
    display: block;
}

.layout-text-obiq {
    // font-size: 0.8125rem;
    font-size: 0.875rem;
    color: #364155;
    font-weight: 500;
}

.text-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.word-wrap {
    word-break: break-word;
}
// -------------------font weight--------------------------

.font-bold {
    font-weight: 600;
}


/***************line-height**************/
.line_h_normal {
    line-height: normal;
}

.line_h_1 {
    line-height: 1;
}


// ------------------font size------------------

.font-12px {
    font-size: 0.75rem;
}

.font-14px {
    font-size: 0.875rem;
}

.font-18px {
    font-size: 1.125rem;
}


/***************scss for button layout***************/
.btn-layout {
    padding: 0.625rem 1.25rem;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 0.5rem !important;
    font-weight: 500 !important;
    font-size: 1rem;
    line-height: 1.25rem;
    border-width: 1px !important;
    border-style: solid !important;
}

.btn-bg-theme {
    background-color: #116173 !important;
    color: #FFFFFF !important;
    border-color: #116173 !important;
}

.btn-bg-white {
    background: #FFFFFF;
    color: #344054;
    border-color: #D0D5DD !important;
}

.btn-icon {
    padding: 0rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 1.75rem;
    height: 1.75rem;
    color: #5A607F;
    font-size: 0.875rem;
    border-color: #D9E1EC;

    &+.btn-icon {
        margin-left: 0.5rem;
    }

    &.bt-sm {
        width: 1.5rem;
        height: 1.5rem;
        padding: 0;
        justify-content: center;
        font-size: 0.75rem;
    }

    &:hover {
        border-color: #D9E1EC;
    }

    &:disabled,
    &.disabled {
        background-color: #ddd;
        opacity: 0.5;
    }
}

button:focus-visible {
    outline: #116173 auto 1px !important;
}

button.btn-bg-theme:focus-visible {
    outline: #000 auto 1px !important;
}

.layout-btn-group .btn.active:focus-visible {
    outline: #000 auto 1px !important;
}

a:focus-visible {
    outline: #116173 auto 1px !important;
}

.bt-dropdown-icon {
    &.dropdown-toggle:after {
        border-width: 0 !important;
        font-family: cs-icon !important;
        content: "\e907" !important;
        font-size: .75rem;
        color: #667085;
        margin-left: .5rem !important;
    }
}

/************sccs for button group**************/
.layout-btn-group {
    box-shadow: 0 1px 5px rgba(0, 0, 0, .2);
    background-color: #fff;
    color: #344054;
    border-left: .5px solid #d0d5dd;

    .btn {
        font-size: 0.875rem;
        background-color: #fff;
        color: #344054;
        padding: .47rem .5rem;
        line-height: 1;
        border-right: 1px solid #d0d5dd;
        margin-left: 0 !important;

        &:active {
            border: 1px solid #D9E1EC !important;
        }
    }

    .panel-search {
        &:first-child {
            .input-search {
                border-right-width: 0rem;
                border-top-right-radius: 0rem;
                border-bottom-right-radius: 0rem;
            }
        }

        &:last-child {
            .input-search {
                border-left-width: 0rem;
                border-top-left-radius: 0rem;
                border-bottom-left-radius: 0rem;
            }
        }
    }

    input {
        &.form-control:first-child {
            border-right-width: 0rem;
            border-top-right-radius: 0rem;
            border-bottom-right-radius: 0rem;
        }
    }

    .btn-refresh {
        background-color: #fff;
        color: #344054;
        font-size: .875rem;


        &:focus {
            border: 1px solid #D9E1EC;
        }
    }

    &.btn-group-sm .btn {
        font-size: 0.875rem;
    }

}

/**************scss for bs-modal************/
.layout-modal {

    &.fade-off {
        transition: none !important;
        
        .modal-dialog {
            transition: none !important;
        }
    }

    .modal-header {

        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        .modal-h-title {
            font-size: 1.125rem;
            font-weight: 600;
            color: #131523;
            line-height: 1.36rem;
            margin-bottom: 0rem;
        }

        .modal-header-right {

            display: inline-flex;
            align-items: center;

            .btn-mh-right {
                &+.btn-mh-right {
                    margin-left: 1rem;
                }
            }
        }
    }

    .modal-body {

        .modal-toolbar {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            margin-bottom: 1rem;

            .toolbar-left {
                display: inline-flex;
                align-items: center;
            }

            .toolbar-right {
                display: inline-flex;
                align-items: center;

                .btn-m-toolbar {
                    &+.btn-m-toolbar {
                        margin-left: 1rem;
                    }
                }
            }
        }
    }

    .modal-full {
        max-width: 100%;
        height: 100vh;
        margin: 0;
        padding: 0;
        overflow: hidden;

        .modal-content {
            height: 100%;
            border-radius: 0rem;
            border: none;

            .modal-content-wrapper {
                height: 100vh;
            }
        }
    }

    .modal-full-lg {
        max-width: 95%;
        height: 90vh;
        overflow: hidden;

        .modal-content {
            height: 100%;
            border-radius: 0rem;
            border: none;

            .modal-content-wrapper {
                height: 92.5vh;
            }
        }
    }

}

.modal-backdrop {
    &.backdrop-none {
        display: none;
    }
}


.modal-overlay-bg-light {
    background-color: rgba(0,0,0,.2);
}


.modal-overlay-inner {
    z-index: 99999;
    background-color: rgba(0,0,0,0.3);
}

/*****scss for form control******/
.form-label {
    // font-size: .8125rem;
    font-size: 1rem;
    font-weight: 600;
    color: #344054;
    line-height: 1.25rem;
    margin-bottom: .25rem;
}

.form-control:not(textarea) {
    font-size: 0.75rem !important;
    height: 2rem;
    background: #fff;
    border: 1px solid #d0d5dd !important;
    box-shadow: 0 1px 2px rgba(16, 24, 40, .05);
    margin: 0;
    font-weight: 400;
    font-style: normal;
    line-height: 2rem !important;
    color: #344054 !important;

    &:focus {
        outline: #116173 auto 1px !important;
        box-shadow: none !important;
    }
}

.form-error {
    color: #E60000;
    font-size: 0.875rem;
    margin-top: 0.25rem;
    display: block;
    font-weight: 600;
}

.form-check-text {
    font-size: 0.875rem;
    font-weight: 500;
    color: #131523;
    line-height: 1.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    vertical-align: bottom;
}

/***************scss for no data found****************/
.no-data-found {
    position: relative;
    text-align: center;
    width: 100%;
    height: 100%;

    .no-data-found-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        .no-data-found-content-img {
            text-align: center;
            display: none;
        }

        .no-data-found-content-text {
            font-size: 0.875rem;
            color: #67748e;
            font-weight: 500;
            margin-bottom: 0;
            margin-top: 0.25rem;
        }
    }
}


/***************scss for element loader************/
.loader-relative {
    position: relative;
}

.loader-overlay {
    z-index: 9999;
    border: none;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: inherit;
    background-color: rgba(174, 221, 197, 0.1);
    cursor: default;
    position: absolute;
    left: 0px;
    bottom: 0px;
    height: 100%;

    .loader-panel {
        text-align: center;
        min-width: 11rem;
        background-color: #fff;
        border-radius: 5px;
        position: absolute;
        top: 50% !important;
        left: 50% !important;
        padding: 0.75rem 1rem;
        -ms-transform: translateX(-50%) translateY(-50%);
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        z-index: 9999;
        color: #116173;

        .loader-panel img {
            width: 3rem;
            height: 3rem;
        }

        .spinner-theme {
            color: #116173;
        }

        .loader-msg {
            display: block;
            font-size: 0.875rem;
            font-weight: 600;
            margin-top: 0.625rem;
            color: #116173;
        }
    }
}

/**************scss for bs-modal right panel************/
.layout-modal-right {
    &.panel-end {
        z-index: 1079;
        left: auto;
        right: 0;
        width: 35%;
        border-left: 0px solid #fff;
        box-shadow: 0 0 8px 0 rgba(0, 0, 0, .12);

        .modal-dialog {
            margin: 0px;
            transform: none;
            max-width: 100%;
        }

        .modal-content {
            border: 0px;
        }
    }

    &.modal-static {
        .modal-dialog {
            transform: none;
        }
    }
}

/****************css for right panel***************/
.feature-right-panel {
    height: 100vh;
    background-color: #fff;

    .feature-rp-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 0.75rem;
        margin-bottom: 1rem;
        border-bottom: 1px solid transparent;

        &.border-bottom {
            border-color: #d0d5dd;
        }

        .rp-header-left {
            display: inline-flex;
            align-items: center;

            .rp-bt-back {
                display: inline-flex;
                align-items: center;
                justify-content: center;
                width: 1.5rem;
                height: 1.5rem;
                border-width: 0rem;
                padding: 0rem;
                font-size: 0.875rem;

                &+.rp-header-title {
                    padding-left: 0.125rem;
                }
            }

            .rp-header-title {
                font-size: 1.125rem;
                font-weight: 600;
                color: #131523;
                line-height: 1.5rem;
                margin-bottom: 0rem;
            }


        }

        .rp-header-right {
            display: inline-flex;
            align-items: center;

            .btn-rp {
                display: inline-flex;
                align-items: center;
                justify-content: center;
                width: 1.875rem;
                height: 1.875rem;
                border-width: 0rem;
                font-size: 1rem;
                color: #5A607F;

                &+.btn-rp {
                    margin-left: 0.5rem;
                }
            }
        }
    }

    .feature-rp-body {
        overflow: auto;
        height: calc(100% - 4.5rem);

        &.pd-rp {
            padding: 0rem 1rem 0rem 1rem;
        }

        &.has-footer {
            height: calc(100% - 8.4rem);
        }

        .form-body-height {
            overflow: auto;
            height: calc(100% - 4rem);
            padding: 0rem 1rem 0rem 1rem;
        }

        .ng-select.layout-custom {
            .ng-select-container {
                .ng-placeholder {
                    top: 0.35rem !important;
                }
            }
        }
    }

    .feature-rp-footer {
        padding: 0.75rem 1rem 0.75rem 1rem;
        text-align: right;
        border-top: 1px solid transparent;

        &.border-top {
            border-color: #d0d5dd;
        }

        .btn-rp-footer {
            &+.btn-rp-footer {
                margin-left: 0.5rem;
            }
        }

    }

}


/***************scss for layout grid table***************/

.layout-grid-table {
    thead {
        th {
            background-color: #f9fafb;
            font-size: .75rem;
            color: #667085;
            font-weight: 500;
            border-color: #e4e7ec;
        }
    }
    
    tbody {
        td {
            color: #344054;
            border-color: #e4e7ec;
            font-size: .8125rem;
            line-height: 1.25rem;
            font-weight: 400;
        }
    }
}

/***************css for search panel***************/
.search_panel {
    position: relative;
    width: 2rem;
}

.search_panel .search_input {
    height: 2rem;
    padding: 0.375rem 0.5rem !important;
    padding-left: 2rem !important;
    padding-right: 0rem !important;
    border-color: transparent !important;
    transition: 0.2s;
    background-color: transparent;
    border-radius: 0.5rem !important;
    box-shadow: 0px 1px 3px 0px #00000033 !important;
}

.search_panel.searchToggle {
    width: 13rem;
}

.search_sm_width .search_panel.searchToggle {
    width: 8rem;
}

.search_md_width .search_panel.searchToggle {
    width: 13rem;
}

.searchToggle .search_input {
    background-color: inherit;
    // border-color: #D0D5DD !important;
    padding-right: 2rem !important;
}

.search_panel .search_icon {
    position: absolute;
    top: 0.3rem;
    left: 0.5rem !important;
    font-size: 0.75rem !important;
    padding: 0.375rem 0.25rem !important;
    cursor: pointer;
    line-height: 1;
}

.clear_search_icon {
    position: absolute;
    top: 0.3rem;
    right: 0.25rem;
    font-size: 0.75rem !important;
    padding: 0.375rem 0.25rem !important;
    cursor: pointer;
    line-height: 1;
    visibility: hidden;
}

.searchToggle .search_input:not(:placeholder-shown)~.clear_search_icon {
    visibility: visible !important;
}

/***************Css for element background color**************/
.bg-theme {
    background-color: #116173 !important;
    color: #fff !important;
}

.bg-red {
    background-color: #FF0404 !important;
    color: #fff !important;
}

.bg-white {
    background-color: #fff;
}

.bg-light-gray {
    background-color: #F9FAFB;
}

.bg-light-green {
    background-color: #5cb85c;
    color: #fff !important;
}

/****************css for custom chekbox******************/
input {
    &.chekbox-custom {
        width: 1.25rem;
        height: 1.25rem;
        line-height: 1.25rem;
        border-radius: 0.375rem;
        border: 1px solid #D0D5DD;
        background-color: #fff;
        text-align: center;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        vertical-align: middle;
        position: relative;
        cursor: pointer;

        &:checked {
            background-color: #E6FBFE;
            border: 1px solid #1C7C92;

            &:hover {
                background-color: #E6FBFE;
                border: 1px solid #1C7C92;
            }

            &::after {
                content: "\e904";
                font-family: 'cs-icon';
                color: #1C7C92;
                font-size: 0.75rem;
                font-weight: 600;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }

        &:hover {
            background-color: #E6FBFE;
            border: 1px solid #1C7C92;
        }

        &:disabled {
            background-color: #F2F4F7 !important;
            border: 1px solid #E4E7EC !important;
            cursor: auto;

            &:hover {
                background-color: #F2F4F7 !important;
                border: 1px solid #E4E7EC !important;
                cursor: auto;
            }

            &::after {
                opacity: 0.6;
            }
        }
    }
}

// -------------css for dropdown----------------------

.dropdown-menu-scrollable {
    max-height: 13rem;
    overflow: auto;
}

.dropdown-menu {
    padding: 0px;
    .dropdown-item {
        display: block;
        padding: 0.5rem 0.75rem 0.5rem 0.75rem !important;
        cursor: pointer;
        font-size: 0.875rem;
        color: #667085;
    
        label , input {
            cursor: pointer;
            vertical-align: middle;
        }
    
        &:first-child {
            border-top-left-radius: 0.5rem;
            border-top-right-radius: 0.5rem;
        }
    
        &:last-child {
            border-bottom-left-radius: 0.5rem;
            border-bottom-right-radius: 0.5rem;
        }
    
        &:hover {
            background-color: #f6feff !important;
            color: inherit;
        }
    
        &:focus {
            background-color: #E6FBFE !important;
            color: inherit !important;
        }
    }
}

// -----------------css for icon color-------------------- //

.oci-Coupa:before,
.oci-coupa:before {
    color: #44b6e7 !important;
}

.oci-MsDynamicsFSO:before,
.oci-msdynamicsfso:before {
    color: #2b58a9;
}

.oci-OracleFusion:before,
.oci-oraclefusion:before,
.oci-OracleIntegrationCloud:before,
.oci-oracleintegrationcloud:before,
.oci-PeopleSoft:before,
.oci-peoplesoft:before, 
.oci-OracleEBS:before,
.oci-oracleebs:before {
    color: #c84734 !important;
}

.oci-Salesforce:before,
.oci-salesforce:before {
    color: #00a1e1 !important;
}

.oci-SAP:before,
.oci-sap:before {
    color: #1D62BD;
}

.oci-VeevaVault:before,
.oci-veevavault:before {
    color: #f69a2d !important;
}

.oci-Workday:before,
.oci-workday:before {
    color: #0067ab !important;
}


// ------------------------------

.layout-status {
    padding: 0.2rem 0.5rem;
    background: #DFDFDF;
    color: #344054;
    border-radius: 1rem;
    font-weight: 500;
    font-size: 0.8125rem;
    line-height: 1.125rem;
    vertical-align: middle;
}

.layout-status.NotStarted,
.layout-status.NotExecuted,
.layout-status.New,
.layout-status.ToDo,
.layout-status.Open,
.layout-status.Reopened,
.layout-status.Incomplete,
.layout-status.Stopped,
.layout-status.Pending,
.layout-status.InComplete {
    background-color: #F2F4F7;
    color: #667085;
}

.layout-status.OnHold,
.layout-status.warning {
    background-color: #FFF2DE;
    color: #EB8D00;
}

.layout-status.InProgress,
.layout-status.Running,
.layout-status.Inprogress,
.layout-status.inprogress {
    background-color: #E0F7FF;
    color: #009EFF;
}

.layout-status.Cancelled,
.layout-status.Expired,
.layout-status.Blocked,
.layout-status.High,
.layout-status.Error,
.layout-status.Fail,
.layout-status.Rejected,
.layout-status.RejectAndStop,
.layout-status.incompletewitherror,
.layout-status.completewitherror,
.layout-status.fail,
.layout-status.error,
.layout-status.blocked {
    background-color: #FFF4F4;
    color: #FF0404;
}

.layout-status.Canceled {
    background-color: #FFF6ED;
    color: #C4320A;
}

.layout-status.SkippedOver,
.layout-status.Skipped {
    background-color: #FFF7F7;
    color: #B42318;
}

.layout-status.Completed,
.layout-status.Pass,
.layout-status.Done,
.layout-status.Approve,
.layout-status.Approved,
.layout-status.complete,
.layout-status.success,
.layout-status.pass, 
.layout-status.Complete{
    background-color: #ECFDF3;
    color: #00B66A;
}

.layout-status.ReadyToTest,
.layout-status.Paused,
.layout-status.AutoPaused {
    background-color: #FFF9E3;
    color: #FFC804;
}

.layout-status.Backlog,
.layout-status.Highest {
    background-color: #F2F4F7;
    color: #667085;
}

.layout-status.Low {
    background-color: #dde9ff;
    color: #2b58a9;
}

.layout-status.Medium {
    background-color: #FFF2DE;
    color: #FF7E06;
}

.layout-status.Closed {
    background-color: #00B66A;
    color: #fff !important;
}

.layout-status.NotRunYet {
    background-color: #FFFFFF;
    color: #667085;
    border: 1px solid #667085;
    padding: 0.2rem 0.5rem;
}

.layout-status.changed {
    background: #FFFAEB;
    color: #B54708;
}

/********* Override kendo-grid css******************/

.k-grid {
    .k-grid-container {
        .k-grid-content {
            .k-grid-table {
                .k-master-row:hover {
                    background-color: transparent !important;
                }
            }
        }
    }
}

/***********************************************/