

html {
    height: 100%;
    font-size: 100%;
    scroll-behavior: smooth;
}

@media (min-width: 1921px) {
    html {
        font-size: 112.5%;
    }
}

@media (max-width: 1366px) {
    html {
        font-size: 81.25%;
    }
}

@media (max-width: 1024px) {
    html {
        font-size: 68.75%;
    }
}

body {
    margin: 0rem;
    padding: 0rem;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    color: #344054;
}

/*************scss for main feature container**************/
.feature-container {
    height: 100%;

    .feature-breadcrumb {
        .breadcrumb {
            padding: 1rem;
            .breadcrumb-item {
                .breadcrumb-link {
                    font-size: 0.875rem;
                    font-weight: 500;
                    line-height: 1.5rem;
        
                    &.active {
                        color: #116173;
                        text-decoration: none;
                        cursor: auto;
                    }
                }
            }
        }
    }

    .feature-body {
        padding: 0rem;
    }

}

/***************scss for text color**************/
.text-theme {
    color: #116173 !important;
}

.text-red {
    color: #FF0404 !important;
}

/*****************other common app scss******************/
.flex-box-column {
    display: flex;
    flex-direction: column;
}

.element-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.flex-center {
    display: flex;
    align-items: center;
}

.d-flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.d-flex-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/***************css for button layout***************/
.btn-layout {
    padding: 0.625rem 0.875rem !important;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 0.5rem !important;
    font-weight: 500 !important;
    font-size: 1rem !important;
    line-height: 1.25rem !important;
    border-width: 1px !important;
    border-style: solid !important;
}

.btn-bg-theme {
    background-color: #116173 !important;
    color: #FFFFFF !important;
    border-color: #116173 !important;
}

.btn-bg-white {
    background: #FFFFFF;
    color: #344054;
    border-color: #D0D5DD !important;
}

.btn-icon {
    padding: 0rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 1.75rem;
    height: 1.75rem;
    color: #5A607F;
    font-size: 0.875rem;
    border-color: #D9E1EC;

    &+.btn-icon {
        margin-left: 0.5rem;
    }

    &.bt-sm {
        width: 1.5rem;
        height: 1.5rem;
        padding: 0;
        justify-content: center;
        font-size: 0.75rem;
    }

    &:hover {
        border-color: #D9E1EC;
    }

    &:disabled,
    &.disabled {
        background-color: #ddd;
        opacity: 0.5;
    }
}

button:focus-visible {
    outline: #116173 auto 1px !important;
}

button.btn-bg-theme:focus-visible {
    outline: #000 auto 1px !important;
}

.layout-btn-group .btn.active:focus-visible {
    outline: #000 auto 1px !important;
}

a:focus-visible {
    outline: #116173 auto 1px !important;
}

/**************css for bs-modal************/
.layout-modal {

    .modal-header {

        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        .modal-h-title {
            font-size: 1rem;
            font-weight: 500;
            color: #131523;
            line-height: 1.5rem;
            margin-bottom: 0rem;
        }

        .modal-header-right {

            display: inline-flex;
            align-items: center;

            .btn-mh-right {
                &+.btn-mh-right {
                    margin-left: 1rem;
                }
            }
        }
    }

    .modal-body {

        .modal-toolbar {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            margin-bottom: 1rem;

            .toolbar-left {
                display: inline-flex;
                align-items: center;
            }

            .toolbar-right {
                display: inline-flex;
                align-items: center;

                .btn-m-toolbar {
                    &+.btn-m-toolbar {
                        margin-left: 1rem;
                    }
                }
            }
        }
    }

    .modal-full {
        max-width: 95%;
    }

}

.modal-backdrop {
    &.backdrop-none {
        display: none;
    }
}


/*****scss for form control******/
.form-label {
    font-size: .75rem;
    font-weight: 600;
    color: #344054;
    line-height: 1.25rem;
    margin-bottom: .25rem;
}

.form-control:not(textarea) {
    font-size: 0.75rem !important;
    height: 2rem;
    background: #fff;
    border: 1px solid #d0d5dd !important;
    box-shadow: 0 1px 2px rgba(16, 24, 40, .05);
    margin: 0;
    font-weight: 400;
    font-style: normal;
    line-height: 2rem !important;
    color: #344054 !important;

    &:focus {
        outline: #116173 auto 1px !important;
        box-shadow: none !important;
    }
}

.form-error {
    color: #E60000;
    font-size: 0.875rem;
    margin-top: 0.25rem;
}

.form-check-text {
    font-size: 0.875rem;
    font-weight: 500;
    color: #131523;
    line-height: 1.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    vertical-align: bottom;
}

/***************scss for no data found****************/
.no-data-found {
    position: relative;
    text-align: center;
    width: 100%;
    height: 100%;

    .no-data-found-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        .no-data-found-content-img {
            text-align: center;
        }

        .no-data-found-content-text {
            font-size: 0.875rem;
            color: #67748e;
            font-weight: 500;
            margin-bottom: 0;
            margin-top: 0.25rem;
        }
    }
}


/***************scss for element loader************/
.loader-relative {
    position: relative;
}

.loader-overlay {
    z-index: 9999;
    border: none;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: inherit;
    background-color: rgba(174, 221, 197, 0.1);
    cursor: default;
    position: absolute;
    left: 0px;
    bottom: 0px;
    height: 100%;

    .loader-panel {
        text-align: center;
        min-width: 11rem;
        background-color: #fff;
        border-radius: 5px;
        position: absolute;
        top: 50% !important;
        left: 50% !important;
        padding: 0.75rem 1rem;
        -ms-transform: translateX(-50%) translateY(-50%);
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        z-index: 9999;
        color: #116173;

        .loader-panel img {
            width: 3rem;
            height: 3rem;
        }

        .spinner-theme {
            color: #116173;
        }

        .loader-msg {
            display: block;
            font-size: 0.875rem;
            font-weight: 600;
            margin-top: 0.625rem;
            color: #116173;
        }
    }
}

/***********************************/