<div id="div-FunctionalErrorComponent" class="app_container flex_box_column h-100">

    <div class="header d-flex">
        <button class="btn bt_back" container="body" ngbtooltip="Back" type="button" (click)="backToMenu()"><i class="oci oci-chevron-left text_muted"></i></button>
        <div class="left">
            <h3 class="mb-0 text-ellipsis">User Behaviour Console Error</h3>
        </div>
    </div>
   
    <div class="app_body ">
        <app-e-m-mr-ds-ub-console-error-tab></app-e-m-mr-ds-ub-console-error-tab>
    </div>
</div>