.custom-tabs{
    padding: 0px;
    width: 100%;
    .custom-tabs-menu{
        padding: 0px;
        margin: 0px;
        border-bottom: 1px solid rgba(0, 0, 0, .1);
        width: 100%;
        li{
            display: inline-block;
            font-size: 0.875rem;
            line-height: 1.5rem;
            font-size: 0.875rem;
            line-height: 1.5rem;
            margin-right: 1.1rem;
            cursor: pointer;
            background-color: transparent;
            color: #667085;
            border: 0;
            border-bottom: 2px solid transparent;
            padding-bottom: 0.25rem;
            font-weight: 500;
            &.active{
                border-color: #116173;
                color: #116173;
            }

            &:hover {
                color: #116173;
                background-color: rgba(55, 23, 23, 0.03);
                // border-radius: 0.5rem;
                border-bottom: 2px solid #116173;
            }

            &:focus-visible {
                outline: #116173 auto 1px !important;
            }
        }
    }
}

.custom-tabs-content{
    width: 100%;
    overflow-y: auto;

    .overview-chart-box{
        width: 74.2rem; 
        height: 10.6rem; 
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
        border: 1px solid #ccc;
        border-radius: 0.5rem;
    }
}