.sidebar-left-menu {
    background: #fff;
    width: 100%;
    height: 100%;
    transition: all 0.5s ease;
    box-shadow: 0px 1px 3px rgba(16, 24, 40, 0.1), 0px 1px 2px rgba(16, 24, 40, 0.06);
    color: #344054;
    border-right: 1px solid #efefef;

    .sidebar-menu-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
        width: 100%;

        .left {
            display: flex;
            align-items: center;

            .h-text-sidebar {
                font-size: 1.125rem;
                font-weight: 600;
                color: #344054;
                padding-right: 0.5rem;
                line-height: normal;
            }

            .bt-back {
                font-size: 0.875rem;
            }

            .bt-back + .h-text-sidebar {
                padding-left: 0.25rem;
            }
        }

        .right {
            display: flex;
            align-items: center;
        }
    }

    .sidebar-menu-body {
        height: calc(100% - 3.5rem);

        .sidebar-menu-toolbar {
            padding: 0.5rem;
            border-bottom: 1px solid #D0D5DD;
            margin-bottom: 0.5rem;
        }

        .sidebar-menu-content {
            height: 100%;
            overflow: auto;
        }
    }
}

.sidebar-menu-content {
    .nav-pills {
        flex-direction: row;
        .nav-item {
            display: block;
            width: 100%;

            .nav-link {
                // display: flex;
                // align-items: center;
                background: #FFFFFF;
                padding: 0.75rem 1rem;
                padding-right: 0.875rem;
                font-size: 0.875rem;
                color: #344054;
                border-top-right-radius: 0rem;
                border-bottom-right-radius: 0rem;
                border-right: 2px solid transparent;

                &.active {
                    background-color: rgba(17, 97, 115, 0.08);
                    border-right: 2px solid #116173;
                }

                &:hover {
                    background-color: rgba(17, 97, 115, 0.08);
                    color: #344054;
                }

                .menu-icon {
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                }

                .menu-text {
                    padding-left: 1rem;
                }

                .remove-icon-drop {
                    &:after {
                        display: none;
                    }
                }

                .btn-layout-more {
                    padding: 0rem;
                    background-color: transparent;
                    border-color: transparent;
                    font-size: 0.75rem;
                }

                .label-status {
                    padding: 0.15rem 0.75rem;
                    border-radius: 0.5rem;
                    font-weight: 500;

                    &.public {
                        background-color: #ECFDF3;
                        color: #027A48;
                    }

                    &.private {
                        background-color: #FEF3F2;
                        color: #B42318;
                    }
                }

                .message-list {
                    display: flex;
                    align-items: center;

                    .profile-pic {
                        width: 2rem;
                        height: 2rem;   
                        border-radius: 50%;
                        margin-right: -10px;
                        border: 2px solid white;
                    }
                    .more-count {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 2rem;
                        height: 2rem;
                        border-radius: 50%;
                        background-color: #E6FBFE;
                        color: #1C7C92;
                        font-size: 0.75rem;
                    }
                }
            }
        }

        &.menu-subcategory {
            .nav-link {
                justify-content: space-between;

                .layout-status {
                    font-size: 0.75rem;
                }
            }
        }
    }
}

::ng-deep .k-dropdown-height {
    height: 3rem !important;

    &.k-focus {
        border: 1px solid #C9F7FE !important;
        outline: none !important;
    }

}

::ng-deep .dropdown-view-anaytics {
    width: 20rem;
    box-shadow: 0px 1px 3px 0px #0000001A;
    box-shadow: 0px 1px 2px 0px #0000000F;

    .k-list {
        box-shadow: none !important;
        border-radius: 0.25rem !important;
    }
}

.value-template-text , .item-template-text {
    color: #344054;
}