<div id="navigator-left"   class="sidebar-left-menu flex-box-column">

    <div class="sidebar-menu-header">

        <div class="left">
            <span class="d-flex">
                @if (isopenSettings) {
                <button type="button" class="btn btn-icon bt-sm bt-back border-0" (click)="backToMenu()">
                    <i class="oci oci-chevron-left"></i>
                </button>
                }
                <h3 class="h-text-sidebar mb-0 text-ellipsis">Analytics</h3>
            </span>



        </div>
    </div>

    @if (isopenSettings) {
    <div class="sidebar-menu-body flex-box-column">

        <div class="sidebar-menu-toolbar">
            <button type="button" class="btn btn-layout btn-bg-theme" (click)="add_environment()" aria-label="Add Environment"> 
                <i class="oci oci-plus me-1"></i> View
            </button>
        </div>

        <div class="sidebar-menu-content">
            <nav>
                <ul class="nav nav-pills menu-category">

                    @for (view of totalViews; track view.viewId) {
                    <li class="nav-item">

                        <a class="nav-link" href="javascript:void(0)" (click)="settingsViewSelect(view)"
                            [ngClass]="selectedViewSettings && view.val == selectedViewSettings.val?'active':''">

                            <div class="d-flex-between">
                                <span class="name">{{view.viewName}}</span>
                                <span class="flex-center">
                                    <span class="label-status me-2 public">Public</span> 

                                  
                                    <div class="dropdown">
                                        <button type="button" class="btn dropdown-toggle remove-icon-drop btn-layout-more"
                                            data-bs-toggle="dropdown">
                                            <i class="oci oci-more-vertical"></i>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="javascript:void(0)"(click)="Rename_Selected_View(view)" >Rename</a></li>
                                            <li><a class="dropdown-item" href="javascript:void(0)"(click)="Delete_Selected_View(view)" >Delete</a></li>
                                        </ul>
                                    </div>
                                </span>
                            </div>

                        </a>

                    </li>
                    }

                </ul>
            </nav>
        </div>

    </div>
    }
    @else {

    <div class="sidebar-menu-body flex-box-column">

        <div class="sidebar-menu-toolbar">
            <div class="row mx-0 align-items-center">

                <div class="col-9 ps-0 pe-1">
                    <kendo-dropdownlist [data]="totalViews" [(ngModel)]="selectedView"
                        (valueChange)="viewChanged($event)" textField="viewName" valueField="viewId" class="k-dropdown-height">
                    </kendo-dropdownlist>
                </div>
                
                <div class="col-3 px-0">
                    <button type="button" class="btn btn-icon border-0" (click)="add_environment()"
                        aria-label="Add Environment">
                        <i class="oci oci-plus"></i>
                    </button>

                    <button type="button" class="btn btn-icon border-0" (click)="openSettings()"
                        aria-label="Settings">
                        <i class="oci oci-settings me-1"></i>
                    </button>
                </div>
                
            </div>
        </div>

        <div class="sidebar-menu-content">
            <nav>
                <ul class="nav nav-pills menu-category">

                    @for (item of analyticsTypes; track $index) {
                    <li class="nav-item">

                        <a class="nav-link" href="javascript:void(0)" (click)="changeAnalyticsSelection(item)"
                            [ngClass]="item.isSelected?'active':''">

                            <span class="menu-icon">
                                <i class="oci oci-journey menu-icon"></i>
                            </span>
                            <span class="menu-text">{{item.name}}</span>
                        </a>

                    </li>
                    }

                </ul>
            </nav>
        </div>

    </div>
    }
</div>