<kendo-grid [data]="datasourceProgressBar" [selectable]="false" [navigable]="false"
        [hideHeader]="false" class="scrollable grid_remove_vertical_border k_grid_header_pr_0 grid_manager">



        <kendo-grid-column title="Build Name" field="Name">

            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                <span class="k_grid_text text_wrap" title="{{dataItem?.Name}}" container="body">
                    {{dataItem?.Name}}
                </span>
            </ng-template>


        </kendo-grid-column>


        <kendo-grid-column title="" [width]="200">

            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                <div class="progress" style="border-radius: 25px;">
                    <div class="progress-bar bg-info" role="progressbar"
                        [style.width]="dataItem?.passpercent + '%'"
                        [title]="dataItem?.passpercent + '% pass'" style="background-color: #1C7C92 !important;" container="body"></div>
                        <div class="progress-bar" role="progressbar" [style.width]="dataItem?.failpercent + '% '" style="background-color: #E6FBFE !important;" [title]="dataItem?.failpercent + '% fail'" container="body"></div>
                </div>
            </ng-template>

        </kendo-grid-column>

        <kendo-grid-column title="Runs" field="Runscount" [width]="100">



        </kendo-grid-column>


        
    </kendo-grid>