<kendo-grid [data]="datasourceProgressBar" [selectable]="false" [navigable]="false"
        [hideHeader]="true" class="scrollable grid_remove_vertical_border k_grid_header_pr_0 grid_manager custom-height">



        <kendo-grid-column title="Build Name" field="subActivityName" [width]="200">

            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                <span class="k_grid_text text_wrap" title="{{dataItem?.subActivityName}}" container="body">
                    {{dataItem?.subActivityName}}
                </span>
            </ng-template>


        </kendo-grid-column>

        @if(widgetData?.widgetType == 'USER_GUIDE_LIST_PER_PROCESS_WIDGET' ) {
        <kendo-grid-column  title="" [width]="220">

            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                <div class="flex-center">
                    <div class="progress w-100" style="border-radius: 25px; height: 0.5rem;">
                        <div class="progress-bar bg-info" role="progressbar"
                            [style.width]="dataItem?.passPercent  + '%'"
                            style="background-color: #1C7C92 !important;" container="body"></div>
                            <div class="progress-bar" role="progressbar" [style.width]="dataItem?.failPercent + '% '" style="background-color: #E6FBFE !important;" 
                            container="body"></div>
                    </div>
                    <span class="ps-3 pe-2 text-end">
                        <span>
                            {{dataItem.count}}
                        </span>
                    </span>
                </div>
            </ng-template>

        </kendo-grid-column>
        }  @else {
            <kendo-grid-column title="" field="timeStampStr" [width]="220">
            </kendo-grid-column>
        }
        <ng-template kendoGridNoRecordsTemplate>
            <div class="no-data-found" style="height: 17rem !important;">
                <div class="no-data-found-content">
                    <img class="no-data-found-content-img"
                        src="/assets/icon-image/nodata-img.png" alt="No data">
                    <p class="no-data-found-content-text">No data available</p>
                </div>
            </div>
        </ng-template>


        
    </kendo-grid>