.panel-widget {
    padding: 1rem;
    min-height: 7rem;
    // border: 1px solid #ddd;
    border-radius: 0.5rem;
    box-shadow: 0px 1px 3px 0px #0000001A;

    & + .panel-widget {
        margin-top: 1rem;
    }

    .graph-details-value {
        display: flex;
        flex-direction: column;
        align-items: center;

        .graph-percentage {
            color: #268144;
            font-weight: 600;
            font-size: 1.75rem;
            margin-bottom: 0rem;
        } 
    }

    .graph-details-health {
        display: flex;
        align-items: center;

        .layout-text-status {
            color: #667085;
            font-size: 0.875rem;
        }

        .graph-status {
            background-color: #F5F5F5;
            color: #12B76A;
            padding: 0.15rem 0.75rem;
            border-radius: 0.5rem;
            font-weight: 500;
            font-size: 0.8125rem;
        }
    }

    .graph-diagram {
        height: 4rem;
    }
}

.widget-section{
    box-shadow: 0px 1px 4px 2px rgba(0, 0, 0, 0.1019607843);
    border-top: 2px solid #116173;
    border-radius: 0.25rem; 
}

::ng-deep .total-error-chart {
    .total-errors-details {
        .errors-chart-flex {
            display: flex;
            align-items: end;
        }
    }
}

.overview-panel-padiing {
    &:first-child , &:nth-child(3){
        padding-left: 0rem;
        padding-right: 1rem;
    }

    &:nth-child(2),&:nth-child(4) {
        padding-right: 0rem;
        padding-left: 1rem;
    }
}
.margin-bottom-2 {
    margin-bottom: 2rem;
}

.text-header {
    font-size: 1.25rem;
    font-weight: 600;
    color: #344054;
}

.accordion-view-summary {
    .card {
        border: none;

        & + .card {
            margin-top: 1rem;
        }

        .card-header {
           
                position: sticky !important;
                // top: 0rem;
                padding: 5px 5px 20px 5px;
                margin-bottom: 0rem !important;
                z-index: 8;
                background: #fff;
                border-bottom: 0;
            

            .btn-accordion {
                width: 100%;
                text-align: left;
                padding-right: 2rem;
                position: relative;
                border-radius: 1.5rem;
                background-color: #fff;
                border-color: #116173;
                color: #116173;
                font-weight: 600;

                &::after {
                    border-width: 0 !important;
                    font-family: cs-icon !important;
                    content: "\e907" !important;
                    font-size: .75rem;
                    color: #667085;
                    margin-left: .5rem !important;
                    position: absolute;
                    right: 1rem;
                    top: 25%;
                }
            }
        }

        .card-header:nth-child(1) {
            top: 0rem !important;
        }
    
        .card-header:nth-child(3) {
            top: 3rem !important;
        }
    
        .card-header:nth-child(5) {
            top: 6rem !important;
        }
    
        .card-header:nth-child(7) {
            top: 9rem !important;
        }
        .card-body {
            padding-top: 0.75rem;
        }
    }
}

.access-type-layout {
    .PUBLIC , .PRIVATE , .SHARED {
        span {
            padding: 0.15rem 0.75rem;
            border-radius: 1rem;
            font-weight: 500;
            font-size: 0.8125rem;
        }
    }
    
    .PUBLIC {
        span {
            background-color: #ECFDF3;
            color: #027A48;
        }
    }

    .PRIVATE {
        span {
            background-color: #FEF3F2;
            color: #B42318;
        }
    }

    .SHARED {
        span {
            background-color: #f0f9ff;
            color: #026aa2;
        }
    }   
}

// .access-type-layout {
//     .bt-dropdown-icon {
//         &.dropdown-toggle:after {
//             display: none;
//         }
//     }
// }

.overview-error-panel{
    ::ng-deep .total-errors-details{
        height: 100% !important;
        padding-bottom: 3rem;
    }
    
    ::ng-deep .total-errors-details .widget-header{
        padding-top: .5rem !important;
        padding-bottom: .5rem !important;
        margin-bottom: 1rem !important;
    }

    ::ng-deep .total-errors-details .graph-custom-wh{
        align-items: center !important;
    }
}

::ng-deep .custom-journey-widget-height {
    height: 14.2rem !important;
}

::ng-deep .custom-error-widget-height {
    height: 18rem !important;
}

::ng-deep .custom-process-widget-height{
    height: 14.2rem !important;
}