.panel-widget {
    padding: 1rem;
    min-height: 7rem;
    // border: 1px solid #ddd;
    border-radius: 0.5rem;
    box-shadow: 0px 1px 3px 0px #0000001A;

    & + .panel-widget {
        margin-top: 1rem;
    }

    .graph-details-value {
        display: flex;
        flex-direction: column;
        align-items: center;

        .graph-percentage {
            color: #268144;
            font-weight: 600;
            font-size: 1.75rem;
            margin-bottom: 0rem;
        } 
    }

    .graph-details-health {
        display: flex;
        align-items: center;

        .layout-text-status {
            color: #667085;
            font-size: 0.875rem;
        }

        .graph-status {
            background-color: #F5F5F5;
            color: #12B76A;
            padding: 0.15rem 0.75rem;
            border-radius: 0.5rem;
            font-weight: 500;
            font-size: 0.8125rem;
        }
    }

    .graph-diagram {
        height: 4rem;
    }
}

.widget-section{
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1019607843);
    border-top: 2px solid #116173;
    border-radius: 0.25rem; 
}

::ng-deep .total-error-chart {
    .total-errors-details {
        .errors-chart-flex {
            display: flex;
            align-items: end;
        }
    }
}