<!-- <div>
    <app-selected-journey [child_data]="{obj_selected_journey: obj_selected_journey, calsource: calsource}"></app-selected-journey>
</div> -->

<div class="logs-details">

    <!-- <div class="status-strip mb-3 d-flex-between">
        <div class="left">
           
            <span>
                <span class="text-theme font-bold">
                    {{receivedTimeRange}}
                </span> 
                <span style="color: #667085;">
                    (a few seconds ago)
                </span>
            </span>
        </div>
       
    </div> -->

   

    <div class="row mx-0 mb-3">
        <div class="col-sm-4 ps-0">
            <div class="datakeys-box">
                <span class="font-bold">Environment Host </span>
                <span class="d-block text-ellipsis font-14px link-color">
                    <span ngbTooltip="{{selectedData?.envHost}}" container="body">{{selectedData?.envHost}}</span>
                </span>
            </div>
        </div>
        <div class="col-sm-4 pe-0">
            <div class="datakeys-box">
                <span class="font-bold"> Environment Name</span>
                <span class="d-block text-ellipsis font-14px">
                    <!-- <i class="oci oci-shelf-position ps-1 pe-2"></i> -->
                    <span ngbTooltip="{{selectedData?.envName}}" container="body">{{selectedData?.envName}}</span>
                </span>
            </div> 
        </div>
        <div class="col-sm-4">
            <div class="datakeys-box">
                <span class="font-bold">Time</span>
                <span class="d-block text-ellipsis font-14px">
                    <!-- <i class="oci oci-host ps-1 pe-2"></i> -->
                    <span ngbTooltip="{{selectedData?.userId}}" container="body">{{selectedData.timeString}}</span>
                </span>
            </div> 
        </div>
    </div>

    <div class="row mx-0 mb-3">
        <div class="col-sm-4 ps-0">
            <div class="datakeys-box">
                <span class="font-bold">User</span>
                <span class="d-block text-ellipsis font-14px">
                    <!-- <i class="oci oci-host ps-1 pe-2"></i> -->
                    <span ngbTooltip="{{selectedData?.userId}}" container="body">{{selectedData.userId}}</span>
                </span>
            </div> 
        </div>
    </div>
   

    <div class="lowerPart">

        <div class="tab_panel" role="tabpanel" aria-label="Tab Panel" [ngClass]="tabSelected == 'Info'?'mb-0':''" >
            <ul class="nav-tabs mb-0" role="tablist">

                <li class="nav-item" role="tab" aria-controls="all-journeys-tab">
                    <!-- <i class="oci oci-trace pe-1"></i> -->
                        AppLog
                </li>


                <!-- <li class="nav-item" role="tab" aria-controls="all-journeys-tab">
                    <a class="nav-link" 
                        href="javascript:void(0)" [ngClass]="tabSelected == 'AppLog'?'active':''" (click)="changeSelectedTab('AppLog')">
                        <i class="oci oci-trace pe-1"></i>
                        AppLog</a>
                </li> -->
                <!-- <li class="nav-item" role="tab" aria-controls="all-journeys-tab" >
                    <a class="nav-link" 
                        href="javascript:void(0)" [ngClass]="tabSelected == 'Metrics'?'active':''" (click)="changeSelectedTab('Metrics')">
                        <i class="oci oci-batch pr-1"></i>
                        Metrics</a>
                </li> -->
                <!-- <li class="nav-item" role="tab" aria-controls="all-journeys-tab">
                    <a class="nav-link" 
                        href="javascript:void(0)" [ngClass]="tabSelected == 'Journey'?'active':''" (click)="changeSelectedTab('Journey')">
                        <i class="oci oci-journey pe-1"></i>
                        Journey</a>
                </li>
                <li class="nav-item" role="tab" aria-controls="all-journeys-tab">
                    <a class="nav-link" 
                        href="javascript:void(0)" [ngClass]="tabSelected == 'Full Log'?'active':''" (click)="changeSelectedTab('Full Log')">
                        <i class="oci oci-info pe-1"></i>
                        Full Log</a>
                </li> -->
            </ul>
        </div>

        
         <div class="tab_view_content" style="background-color: #DDDDDD;padding:10px; word-wrap: break-word;">
           
               {{selectedData.appEventLog}}
         </div>

        <!-- <div class="tab_view_content" style="background-color: #DDDDDD;padding:10px;">
            @if (tabSelected == 'AppLog') {
               {{selectedData.appEventLog}}
            }
            @else if (tabSelected == 'Journey') {
                <div class="journey">
                    <app-journey-grid [child_data]="{selectedData: selectedData}"></app-journey-grid>
                </div>
            }
            @else if(tabSelected == "Full Log"){
                <div class="Info">
                    {{selectedData.fullLog}}
                </div>
            }
        </div> -->
    </div>
</div>


