.executionAgent {
    .status {
        width: 0.5rem;
        height: 0.5rem;
        border-radius: 50%;
        padding-right: 0.5rem;
        
    }

    .status.online {
        background: #12B76A;

        
    }
    .status.offline {
        background: var(--Colors-Red, #FF3B30);

        
    }
}