<h6 class="mb-3 font-bold">
    Choose Execution Agent 
    <span *ngIf="obj_error.displayTestError" class="form-error">Test agent selection is required.</span>
</h6>
<kendo-grid 
    [data]="datasource_agents" 
    [selectable]="true" 
    [navigable]="true" 
    (selectionChange)="onSelectionChange($event)"
    [selectable]="{ checkboxOnly: true, mode: 'multiple' }" 
    class="scrollable grid_remove_vertical_border k_grid_header_pr_0 checkbox-custom-kendo">
    
    <kendo-grid-checkbox-column [showSelectAll]="true" [width]="35">
    </kendo-grid-checkbox-column>

    <kendo-grid-column field="AgentName" title="User Name">
        <ng-template kendoGridCellTemplate let-dataItem>
            <div class="flex-center executionAgent">               
                <span class="status me-2" [ngClass]="dataItem.status=='online'? 'online':'offline'"></span>
                <span class="layout-text-obiq ps-1">{{dataItem?.AgentName}}</span>
            </div>
        </ng-template>
    </kendo-grid-column>

    <kendo-grid-column field="AgentName" title="Agent Name">
        <ng-template kendoGridCellTemplate let-dataItem>

            <div class="flex-center">
                <span class="layout-text-date">{{dataItem?.AgentName}}</span>
            </div>
        </ng-template>
    </kendo-grid-column>

    <kendo-grid-column field="ModifiedBy" title="Server URL">
        <ng-template kendoGridCellTemplate let-dataItem>
            <div class="flex-center">
                <span class="layout-text-date">myqlm.opkeyone.com</span>
            </div>
        </ng-template>
    </kendo-grid-column>

    <ng-template kendoGridNoRecordsTemplate>
        <div class="no-data-found" style="height: 17rem !important;">
            <div class="no-data-found-content">
                <img class="no-data-found-content-img" src="/assets/icon-image/nodata-img.png" alt="No data">
                <p class="no-data-found-content-text">No data available</p>
            </div>
        </div>
    </ng-template>
</kendo-grid>