.private-div {
    border: 1px solid #E4E7EC;
    color: #344054;
    background: #F9FAFB;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
}

.public-icon {
    width: 2rem;
    height: 2rem;
    padding: 0.25rem;
    border: 3px solid #E6FBFE;
    background-color: #C9F7FE;
    border-radius: 50%;
    position: relative;
    // margin-right: 1rem;
    font-size: 1rem;
    // display: inline-block;
}