<div class="feature-right-panel">

    <div class="feature-rp-header mb-0 border-bottom">

        <div class="rp-header-left">
            <h3 class="rp-header-title">Access Type</h3>
        </div>

        <div class="rp-header-right">
            <button type="button" class="btn btn-rp" aria-label="Close" (click)="close_right_panel()" container="body">
                <span ngbTooltip="Close" triggers="mouseenter:mouseleave">
                    <i class="oci oci-x"></i>
                </span>
            </button>
        </div>

    </div>

    <div class="feature-rp-body has-footer pd-rp pt-3">
        <div [ngClass]="{'active':this.accessTypeObj.AccessType == 'PRIVATE'}" class="row mx-0 private-div mb-3"
            (click)="selectAccessType('PRIVATE')">
            <div class="col-sm-12 px-0">
                <i class="oci oci-public-off public-icon"></i>
                Private
            </div>
        </div>

        <div [ngClass]="{'active':this.accessTypeObj.AccessType == 'PUBLIC'}" class="row mx-0 private-div mb-3"
            (click)="selectAccessType('PUBLIC')">
            <div class="col-sm-12 px-0 d-flex-between">
                <span>
                    <i class="oci oci-public public-icon"></i>
                    Public
                </span>

                <div class="dropdown dropdown-text-color">
                    
                    <kendo-dropdownlist class="canView-dd-list" [data]="Public_dropdown_Items" textField="text" 
                        valueField="value" [(ngModel)]="accessTypeObj.AccessPermissions" [valuePrimitive] ="true"
                        (valueChange)="selectViewOrEdit($event)">
                        
                        <ng-template kendoDropDownListItemTemplate let-dataItem>
                            <span *ngIf="dataItem.text === 'Can View'">
                                <i class="oci oci-eye pe-2"></i> {{ dataItem.text }}
                            </span>
                            <span *ngIf="dataItem.text === 'Can Edit'">
                                <i class="oci oci-edit pe-2"></i> {{ dataItem.text }}
                            </span>
                        </ng-template>
                    </kendo-dropdownlist>
                </div>

            </div>
        </div>

        <div [ngClass]="{'active':this.accessTypeObj.AccessType == 'SHARED'}" class="row mx-0 mb-3 private-div"
            (click)="selectAccessType('SHARED')" >
            <div class="col-sm-12 px-0 ">
                <i class="oci oci-share public-icon"></i>
                Shared
            </div>
        </div>
        <div *ngIf="accessTypeObj.AccessType == 'SHARED'" class="row mx-0 mt-3">
            <div class="col-sm-10 px-0 d-flex flex-wrap">
            <kendo-dropdownlist [data]="users" [filterable]="true" [defaultItem]="user_default" (selectionChange)="select_user($event)"
            [(ngModel)]="model_user" [valuePrimitive]="true"
            textField="email_ID" valueField="U_ID" [kendoDropDownFilter]="filterSettings"
            [popupSettings]="{ width: 250 }" style="height: 2.6rem !important;">

            <ng-template kendoDropDownListItemTemplate let-dataItem>

                <span *ngIf="dataItem.U_ID != null && dataItem.U_ID != '00000000-0000-0000-0000-000000000000'" class="d-block">

                    <span class="items-template">


                        <span class="items-img">
                            <img class="img_avatar_profile"
                                [attr.src]="'/user/getavatar/'+dataItem?.U_ID"
                                alt="User profile image">
                        </span>

                        <span class="d-block pl-2 line_h_normal" style="width: calc(100% - 1.3rem);">
                            <span class="item-template-text text-ellipsis" ngbTooltip="{{dataItem?.Name}}"
                                container="body">{{dataItem?.Name}}</span>
                            <span class="d-block">
                                <span class="item-template-subtext text-ellipsis"
                                    ngbTooltip="{{dataItem?.email_ID}}"
                                    container="body">{{dataItem?.email_ID}}</span>
                            </span>
                        </span>

                    </span>

                </span>


                <span *ngIf="dataItem?.U_ID=='00000000-0000-0000-0000-000000000000'" class="user_unassigned">
                    <i class="oci oci-user "></i>
                    <span> {{dataItem?.email_ID}}</span>
                </span>


            </ng-template>

            <ng-template kendoDropDownListValueTemplate let-dataItem>

                <span *ngIf="dataItem.U_ID != null && dataItem.U_ID != '00000000-0000-0000-0000-000000000000'"
                    class="d-flex align-items-center w-100">

                    <span class="items-img">
                        <img class="img_avatar_profile"
                            [attr.src]="'/user/getavatar/'+dataItem?.U_ID"
                            alt="User profile image">
                    </span>

                    <span class="d-block pl-2" style="width: calc(100% - 1.3rem);">
                        <span class="value-template-text align-middle text-ellipsis"
                            ngbTooltip="{{dataItem?.Name}}" container="body">{{dataItem?.Name}}</span>
                    </span>

                </span>

                <span *ngIf="dataItem?.U_ID=='00000000-0000-0000-0000-000000000000'" class="user_unassigned">
                    <i class="oci oci-user "></i>
                    <span> {{dataItem?.email_ID}}</span>
                </span>


            </ng-template>

            <ng-template kendoDropDownListNoDataTemplate>
                <div class="div_ddl_noData">
                    <div class="ddl_no_Data_content">
                        <img class="ddl_noData_img" src="/opkeyone/assets/icon-image/nodata-img.png" alt="img">
                        <p class="ddl_noData_text"> No user available</p>
                    </div>
                </div>
            </ng-template>

            </kendo-dropdownlist>
            </div>




            <div class="col-sm-2 pe-0 text-end">
                <button type="button" class="btn btn-layout btn-bg-grey " [disabled]="model_user == null"
                    (click)="add_user()">
                    Add
                </button>
            </div>
        </div>


        <div class="shared-to-panel" *ngIf="addedUsers.length > 0">
            <h6 class="mt-3 mb-2 font-bold">Shared to</h6>

            <!-- Kendo Grid -->
            <kendo-grid [data]="addedUsers" class="k-grid-sharedTo" [hideHeader]="true">
                <kendo-grid-column [width]="60">
                    <ng-template kendoGridCellTemplate let-dataItem>
                        <span class="sp-user-image">
                            <img alt="{{ dataItem.Name }}" src="/user/getavatar/{{dataItem.U_ID}}">
                        </span>
                    </ng-template>
                </kendo-grid-column>

                <kendo-grid-column>
                    <ng-template kendoGridCellTemplate let-dataItem>
                        <div class="user-details">
                            <span class="layout-text-name">{{ dataItem.Name }}</span>
                            <span class="layout-text-date">{{ dataItem.email_ID }}</span>
                        </div>
                    </ng-template>
                </kendo-grid-column>

                <kendo-grid-column [width]="140">
                    <ng-template kendoGridCellTemplate let-dataItem>
                        <kendo-dropdownlist [data]="Public_dropdown_Items" class="canView-dd-list" textField="text"
                            [valuePrimitive]="true"
                            valueField="value" [(ngModel)]="dataItem.permission">
                            <ng-template kendoDropDownListItemTemplate let-dataItem>
                                <span *ngIf="dataItem.text === 'Can View'">
                                    <i class="oci oci-eye pe-2"></i> {{ dataItem.text }}
                                </span>
                                <span *ngIf="dataItem.text === 'Can Edit'">
                                    <i class="oci oci-edit pe-2"></i> {{ dataItem.text }}
                                </span>
                            </ng-template>
                        </kendo-dropdownlist>
                    </ng-template>
                </kendo-grid-column>

                <kendo-grid-column [width]="50">
                    <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                        <button ngbTooltip="Delete" type="button" class="btn p-2 me-2" triggers="mouseenter:mouseleave"
                            (click)="deleteUser(rowIndex,dataItem.U_ID)">
                            <i class="oci oci-delete text-red"> </i>
                        </button>
                    </ng-template>
                </kendo-grid-column>
            </kendo-grid>
        </div>


    </div>

    <div class="feature-rp-footer text-end" style="text-align: left;">
        <button [disabled]="isDisabled" type="button" class="btn btn-layout btn-bg-theme" aria-label="Close"
            (click)="typeSelectedItem == 'update' ? updatePermission() : createPermission()">
            {{accessTypeObj.AccessType == 'SHARED' ?'Invite':'Done'}}
        </button>
    </div>
</div>