.feature-right-panel {

  .feature-rp-body {

    .private-div {
      border: 1px solid #E4E7EC;
      color: #344054;
      background: #F9FAFB;
      border-radius: 0.5rem;
      padding: 0.5rem 1rem;
      &.active{
        background-color: #e6fbfe !important;
        border: 1px solid #5DD4E4 !important;     
      }
    }
  
    .public-icon {
      padding: 0.25rem;
      border: 3px solid #E6FBFE;
      background-color: #C9F7FE;
      border-radius: 50%;
      position: relative;
      font-size: 1rem;
    }
  
    .added-users-container {
      display: flex;
      flex-wrap: wrap;
      gap: 5px;
      padding: 5px !important;
      // background-color: #f7f9fc;
      // border: 1px solid #dfe1e6;
      background: #fff;
      border: 0.25px solid #5DD4E4;
      border-radius: 10px;
  
    }
  
    .user-chip {
      display: flex;
      align-items: center;
      padding: 5px 10px;
      // background-color: #e6f7ff;
      background-color: #f6feff;
      ;
      // border: 1px solid #91d5ff;
      border-radius: 20px;
      color: #101828;
      margin: 3px;
    }
  
    .remove-user {
      background: none;
      border: none;
      // color: #ff4d4f;
      color: #101828;
      margin-left: 5px;
      // font-size: 18px;
      font-size: 1.5rem;
      line-height: 0.75;
      cursor: pointer;
    }
  
    .user-input {
      flex-grow: 1;
      min-width: 100px;
      // margin-top: 5px;
      border: none;
      outline: none;
      height: 2.75rem;
      box-shadow: 0px 1px 3px 0px #0000001A;
    }
  
    .dropdown-text-color {
      .btn {
        color: #116173;
        font-size: 0.875rem;
        font-weight: 500;
        border: 1px solid transparent;
        padding: 0px;
      }
  
      .dropdown-menu {
        box-shadow: rgba(16, 24, 40, 0.1) 0px 12px 16px -4px;
        border: none;
  
        .dropdown-item {
          color: #344054;
        }
      }
    }
  
    .shared-to-panel {
      .k-grid.k-grid-sharedTo {
        border: none !important;

        .sp-user-image {
          display: block;
          width: 2.5rem;
          height: 2.5rem;
          border-radius: 50%;

          img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
          }
        }
      }

      .k-dropdownlist {
        border-width: 0px !important;
      }
    }
  
    .btn-bg-grey {
      background: #8F9191;
      color: #fff;
      border-color: #8F9191 !important;
      &.active {
        background-color: #116173 !important;
        color: white !important;
        }
    }
  }


  .suggestions-dropdown {
    border: 1px solid #ddd;
    border-radius: 0.5rem;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1019607843);
    background: #fff;
    // box-shadow: rgba(50, 50, 93, .25) 0 6px 12px -2px, rgba(0, 0, 0, .3) 0 3px 7px -3px;
    width: calc(100% - 0rem);

    .ul-suggestion-box {
      position: relative;
      min-height: 2rem;
      max-height: 10rem;
      margin-bottom: 0;

      .suggestion-item {
        font-size: 0.875rem;
        cursor: pointer;
        &.active,
        &:focus,
        &:hover {
          background-color: #e6fbfe !important;
          color: inherit !important;
        }

        &:last-child {
          border-top-left-radius: .5rem;
          border-top-right-radius: .5rem;
        }
      } 

    } 

  }
  
}

::ng-deep .canView-dd-list.k-dropdownlist {
  &.k-dropdownlist, 
  &:hover,
  &:focus-within {
    background-color: transparent !important;
    border-width: 0px !important;
    box-shadow: none !important;
    outline: #116173 auto 0px !important;
  }

  .k-input-inner,
  .k-icon.k-svg-i-caret-alt-down:before {
    color: #116173 !important;
    font-weight: 500 !important;
    overflow: visible !important;
  }
}







