<div id="div-datasource-slection">

    <div>
        <h4 class="text-header">
            Add your view by selecting multiple data sources
        </h4>
    </div>

    <div class="row mx-0 mb-3">
        <div class="col-sm-6 ps-0 pe-3">
             
            <label for="name" class="form-label">Name <span class="text-astric">*</span>
                <span *ngIf="obj_error.dispaly_viewName" class="form-error">View name is required.</span>
                <span *ngIf="obj_error.isDuplicateName" class="form-error">This view name is already existed.</span>
            </label>
            <input id="View_Name_Input" type="text" class="form-control" (blur)="onInputChange($event)" (keyup.enter)="onInputChange($event)" [(ngModel)]="modal_name">
            <!-- <span *ngIf="obj_error.isDuplicateName" class="form-error">This view name is already existed.</span> -->
        </div>
    </div>

    <div class="row mx-0 mb-3">
        <div class="col-sm-12 px-0">

            <label for="acces-type" class="form-label">Add Data-Sources<span class="text-astric">*</span>
                <div *ngIf="obj_error.dispaly_DataSource" class="mb-1">
                    <span class="form-error">Data source selection is required.</span>
                </div>
            </label>

            

            <div class="row mx-0">

                @for(item of data_Source_widjets; track item.id) {

                <div class="col-6 ps-0 mb-3 pe-3">

                    <div class="data-source-category" role="button" (click)="select_datasource(item) "
                        [ngClass]="item.isChecked ? 'active': '' ">
                        <h4 class="text-center pb-3 header">{{item.name}}</h4>
                        <p>
                            <span class="d-block text-center">{{item.description}}</span>
                           
                            @if(item.type === 'ERP_ANALYTICS_DATASOURCE') {
                                <span class="sp-sub-heading pt-2 pb-1 text-center d-block"><i class="oci oci-lightbulb pe-2"></i>{{item.shortDescription}}</span>
                            }
                            @else {
                                <span class="d-block text-red text-center pt-2">{{item.shortDescription}}</span>
                            }
                           
                        </p>
                        <span class="checked-data-source">
                            <i class="oci oci-check element-center"></i>
                        </span>
                    </div>

                    @if((item.type === 'ERP_ANALYTICS_DATASOURCE' && item.isChecked) ) {
        
                        <div class="datasource-sub-category">
                            <label for="application" class="form-label mt-3" style="font-size: 1.1rem;">
                                Choose your application 
                                <span class="text-astric">*</span>

                                <span *ngIf="obj_error.display_ErpApplication" class="form-error">Application selection is required.</span>
                            </label>

                            

                            <div class="data-source-item">
                              
                                @for(dataItem of datasource_application; track dataItem) {
                                <div class="form-check mb-3">
                                    <label class="form-check-label">
                                        <input class="form-check-input chekbox-custom" type="checkbox"
                                            [checked]="checkApplication(dataItem)"
                                            (change)="select_applicaton(dataItem, $event)">
                                        <span>
                                            <span class="application-images">
                                                <img src="assets/images/default/application/{{dataItem}}.png"
                                                    alt="{{dataItem}}">
                                            </span>
                                            <span class="font-18px align-middle" style="font-weight: 500;">
                                                {{dataItem}}
                                                <span class="sp-instance-count ps-2">
                                                    ({{ Available_Application_Instances[dataItem] || 0 }})
                                                  </span>

                                                  
                                            </span>
                                        </span>
                                    </label>
                                </div>
                                }
                            </div>
                        </div>

                    }

                    @else if((item.type === 'SYSTEM_DIAGNOSTICS_ANALYTICS_DATASOURCE' && item.isChecked)) {
                     
                        <div class="datasource-sub-category">

                            <label for="application" class="form-label mt-3 pb-1" style="font-size: 1.1rem;">
                                Choose your system diagnostics
                                <span class="text-astric">*</span>
                                <span *ngIf="obj_error.display_SystemDiagnosticsData" class="form-error">System diagnostics selection is required.</span>
                            </label>
                            

                            @for(dataItem of datasource_system_diagnostics; track dataItem.id) {
                            <div class="form-check mb-3">
                                <label class="form-check-label">
                                    <input class="form-check-input chekbox-custom" type="checkbox"
                                        [checked]="checkSystem(dataItem)"
                                        (click)="select_systemDiagnostics(dataItem, $event)">
                                    <span>
                                        <!-- <span class="application-images">

                                            <img src="assets/images/default/application/{{dataItem}}.png"
                                                alt="{{dataItem}}">
                                        </span> -->
                                        <span class="font-18px ps-3 align-middle" style="font-weight: 500;">
                                            {{dataItem.name}}
                                        </span>
                                    </span>
                                </label>
                            </div>
                            }
                        </div>
                    }

                </div>
                }
            </div>

        </div>
    </div>

</div>