.panel-selection {
    display: flex;
    width: 100%;

    .selection-left {
        width: 20rem;
    }

    .selection-right {
        width: calc(100% - 20rem);
        padding: 0rem 1rem;
    }
}