

<div id="modal-view-bilder" class="modal-content-wrapper flex-box-column">

    <div class="modal-header">
    
        <h3 class="modal-h-title">Add View</h3>

        <div class="modal-header-right">
            <button class="btn btn-bg-white btn-mh-right" (click)="activeModal.dismiss('Cross click')">Close</button>
        </div>

    </div>

    <div class="modal-body">

        <div class="panel-selection">

            <div class="selection-left">

            </div>
    
            <div class="selection-right">
                
            </div>

        </div>

    </div>

    <div class="modal-footer border-top-0">
        <button type="button" class="btn btn-layout btn-bg-white" (click)="next()">Next</button>
    </div>
    
</div>
