<div class="modal-header bg_theme border_bottom" style="border-radius: 0rem !important;">
    <h6 class="modal-title" style="color: #fff !important;">Add View</h6>
    <div>
        <button class="btn text-light" (click)="close_model()" ngbTooltip="Close" container="body"
            triggers="mouseenter:mouseleave">
            <i class="fa fa-times"></i>
        </button>
    </div>
</div>

<div class="modal-body p-0 position_relative" id="div_modal_body">
    <div class="scrollable">
        
    </div>
</div> 