<div id="ub-err-logs-grid"  class="logs-grid-layout">
    <!-- (cellClick)="onSelectionChange($event)" -->
    <kendo-grid 
        [data]="ub_functional_err_log_Data_Source" 
        [selectable]="true" 
        class="scrollable"
        (cellClick)="onSelectionChange($event)"
        (scrollBottom)="onScroll()"
        [style.height]="'calc(100vh - 8rem)'"
        >

        <kendo-grid-column title="" [width]="10">

            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">

                <span class="layout-status-logs layout-status-color success">

                </span>

            </ng-template>
        </kendo-grid-column>

        <kendo-grid-column field="timeString" title="Time">
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                <span ngbTooltip="{{dataItem?.timeString}}">{{dataItem?.timeString}}</span>
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="userId" title="User">
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                <span ngbTooltip="{{dataItem?.userId}}">{{dataItem?.userId}}</span>
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="errorId" title="Error Id">
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                <span ngbTooltip="{{dataItem?.errorId}}">{{dataItem?.errorId}}</span>
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="envName" title="Environment Name">
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                <span ngbTooltip="{{dataItem?.envName}}">{{dataItem?.envName}}</span>
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="envHost" title="Environment Host">
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                <span ngbTooltip="{{dataItem?.envHost}}">{{dataItem?.envHost}}</span>
            </ng-template>
        </kendo-grid-column>
        <!-- <kendo-grid-column field="appEventLog" title="App Log">
        </kendo-grid-column> -->
        <!-- <kendo-grid-column field="logName"  title="Log Name">
        </kendo-grid-column> -->

        <ng-template kendoGridNoRecordsTemplate>
            <div class="no-data-found" style="height: 17rem !important;">
                <div class="no-data-found-content">
                    <img class="no-data-found-content-img" src="/assets/icon-image/nodata-img.png" alt="No data">
                    <p class="no-data-found-content-text">No data available</p>
                </div>
            </div>
        </ng-template>
    </kendo-grid>
</div>
