<div class="trace grid-panel">
    <kendo-grid 
    #grid_application 
    [data]="trace_Selected_data" 
    (cellClick)="onCellClick($event)"
    [selectable]="true" 
    [navigable]="true"
    (selectionChange)="on_trace_Selection_Change_($event)" 
    class="scrollable grid_remove_vertical_border k_grid_header_pr_0">
    <kendo-grid-column field="appType" title="appType">
        <ng-template kendoGridCellTemplate let-dataItem>
            <div class="d-flex align-items-baseline">
                <i *ngIf="dataItem.appType!=null" class="oci oci-{{dataItem.appType | lowercase}} font_18px align-middle pe-2"></i>
                <span class="layout-text-obiq">{{dataItem.appType}}</span>
            </div>
        </ng-template>
    </kendo-grid-column>

    <kendo-grid-column field="domainName" title="domainName">
        <ng-template kendoGridCellTemplate let-dataItem>
            <span class="layout-text-obiq ps-1">{{dataItem.domainName}}</span>
        </ng-template>
    </kendo-grid-column>

    <!-- ModifiedBy Column with Date -->
    <kendo-grid-column field="logName" title="logName">
        <ng-template kendoGridCellTemplate let-dataItem>
            <span class="layout-text-name ps-1">{{dataItem.logName}}</span>
        </ng-template>
    </kendo-grid-column>

    <ng-template kendoGridNoRecordsTemplate>
        <div class="no-data-found" style="height: 17rem !important;">
            <div class="no-data-found-content">
                <img class="no-data-found-content-img" src="/assets/icon-image/nodata-img.png" alt="No data">
                <p class="no-data-found-content-text">No data available</p>
            </div>
        </div>
    </ng-template>
</kendo-grid>
</div>