<div class="main">
    <!-- <div class="upper">
        
        <div class="upper-left"><i class="oci oci-check font_20px" style="color:#DC6803;"></i></div>
        <div class="upper-right word-wrap"> 
            <div style="font-weight:500;font-size:20px;color:#000;padding-bottom:10px;">Confirm</div>
            <div>{{msg}}</div>
        </div>
    </div>
    <div class="lower">
        <button (click)="closeModal('Yes')" id="yes-btn">
            Yes
        </button>
        <button (click)="closeModal('No')" id="btn">
            No
        </button>
    </div> -->
    <div class="upper d-flex mb-4">
    
        <span class="confirm-iconBox d-inline-block mt-2"> <i class="oci oci-check" style="color:#DC6803; font-size: 1.5rem;"></i> </span>
        <span class="d-block ps-4 pt-3 msg_content_width">
            <span class="d-block text-start pb-3"
                style="font-weight: 500; color:#000;text-transform: capitalize;font-size: 1.5rem;">Confirm</span>
            <div class="text-start">
                    <div class="" style="white-space: pre-line;">
                        <div class="scrollable"
                            style="max-height: 22rem; word-wrap: break-word; padding-right: 0.25rem;">
                            <div class="msgBoxContent">
                                {{msg}}
                            </div>
                        </div>
                    </div>
            </div>
        </span>
    </div>
    <div class="lower">
        <button (click)="closeModal('Yes')" id="yes-btn">
            Yes
        </button>
        <button (click)="closeModal('No')" id="btn">
            No
        </button>
    </div>
</div>