<div [id]="'common-journey-'+widgetType" style="position:relative;height: 100%;">
    
    
<div class="panel-header d-flex-between py-2 mb-3">
    <div  style="display: flex;">
        <div *ngIf="Editable">
            <i class="oci oci-drag-indicator drag-icon px-1 drag-handler"></i>
          </div>
          
            <h6 class="font-bold mb-0">
              <ng-container *ngIf="isRename;else nameOnly">
                 <input type="text" [(ngModel)]="title" (keyup.enter)="renaming()" (blur)="renaming()" id='renameInput'>
              </ng-container>
             <ng-template #nameOnly>
                 {{title}}
              </ng-template>
          </h6>  
    </div>
  
    <div style="display:flex;justify-content: space-between;align-items: center;">
            <a href="javascript:void(0)" class="view-full-journey" style="text-decoration: none; color: #1C7C92;" (click)="openFullJourney()">View full Journey
            </a>
            
            <div *ngIf="Editable">
                 <div class="dropdown">
                        <button type="button" class="btn remove-icon-drop btn-layout-more" data-bs-toggle="dropdown">
                            <i class="oci oci-more-vertical font-14px"></i>
                        </button>
                        <ul class="dropdown-menu">
                            <li (click)="renameWidget()"><a class="dropdown-item" href="javascript:void(0)" ><i class="oci oci-edit  pr-2" ></i> Rename </a></li>
                            <li><a class="dropdown-item" href="javascript:void(0)" ><i class="oci oci-delete text-red pr-2"></i> Delete </a></li>
                        </ul>
                </div>
            </div>
    </div>
  
    

</div>



<kendo-grid [data]="datasourceProgressBar" [selectable]="false" [navigable]="false"
        [hideHeader]="true" class="scrollable grid_remove_vertical_border k_grid_header_pr_0 grid_manager custom-progress-grid custom-journey-widget-height">



        <kendo-grid-column title="Build Name" field="subActivityName">

            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                <span class="k_grid_text text_wrap" title="{{dataItem?.subActivityName}}" container="body">
                    {{dataItem?.subActivityName}}
                </span>
            </ng-template>


        </kendo-grid-column>


            <kendo-grid-column title="" field="timeStampStr">
                <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                    <span class="k_grid_text text_wrap text-start">
                        <i class="oci oci-clock pe-2"></i>
                        <span>{{dataItem?.calculatedTime}}</span>
                    </span>
                </ng-template>
            </kendo-grid-column>
        
        
          
            <kendo-grid-column title="" field="timeStampStr"  [width]="140">
                <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                  
                        <div id="chart" class="graph-timeseries mb-3" style="height: 25px;width:100px;padding: 0 " >
                            
                            <apx-chart  *ngIf="chartOptions?.series?.length  > 0"
                            [series]="chartOptions.series"
                            [chart]="chartOptions.chart"
                            [stroke]="chartOptions.stroke"
                            [dataLabels]="chartOptions.dataLabels"
                            [xaxis]="chartOptions.xaxis"
                            [yaxis]="chartOptions.yaxis"
                            [grid]="chartOptions.grid"
                                
                           
                          ></apx-chart>
                          </div>
                       
                  

                   
                   
                </ng-template>
            </kendo-grid-column>
        
        <ng-template kendoGridNoRecordsTemplate>
            <div class="no-data-found" style="height: 11rem !important;">
                <div class="no-data-found-content">
                    <img class="no-data-found-content-img"
                        src="/assets/icon-image/nodata-img.png" alt="No data">
                    <p class="no-data-found-content-text">No data available</p>
                </div>
            </div>
        </ng-template>


        
    </kendo-grid>

</div>