<div [id]="'gauge-div-'+ widgetType"  class="total-errors-details">
  <div style="display: flex;">
    <div *ngIf="Editable">
      <i class="oci oci-bar-chart drag-icon px-1 drag-handler"></i>
      <span class="font-bold">
        {{title}}
      </span>
      
  </div>
  </div>
  <!-- <span class="font-bold">
    {{title}}
  </span>
   -->
  <div id="chart" *ngIf="chartOptions">
    <apx-chart
      [series]="chartOptions?.series"
      [chart]="chartOptions?.chart"
      [plotOptions]="chartOptions?.plotOptions"
      [fill]="chartOptions?.fill"
      [stroke]="chartOptions?.stroke"
      [labels]="chartOptions?.labels">
    </apx-chart>
  </div>
</div>