<div [id]="'gauge-div-'+ widgetType"  class="total-errors-details">


  <div style="display:flex;justify-content: space-between;align-items: center;">

          <div style="display:flex;justify-content: space-between;align-items: center;">
                <div *ngIf="Editable">
                  <i class="oci oci-bar-chart drag-icon px-1 drag-handler"></i>
                </div>
                
                <h6 class="font-bold mb-0">
                  <ng-container *ngIf="isRename;else nameOnly">
                    <input type="text" [(ngModel)]="title" (keyup.enter)="renaming()" (blur)="renaming()" id='renameInput'>
                  </ng-container>
                  <ng-template #nameOnly>
                    {{title}}
                  </ng-template>
                </h6>  
          </div>      

          <div *ngIf="Editable">
            <div class="dropdown">
              <button type="button" class="btn remove-icon-drop btn-layout-more" data-bs-toggle="dropdown">
                  <i class="oci oci-more-vertical font-14px"></i>
              </button>
              <ul class="dropdown-menu">
                  <li (click)="renameWidget()"><a class="dropdown-item" href="javascript:void(0)" ><i class="oci oci-edit  pr-2" ></i> Rename </a></li>
                  <li><a class="dropdown-item" href="javascript:void(0)" ><i class="oci oci-delete text-red pr-2"></i> Delete </a></li>
              </ul>
            </div>
          </div>

  </div>
  <!-- <div style="display: flex;">
    <div *ngIf="Editable">
      <i class="oci oci-bar-chart drag-icon px-1 drag-handler"></i>
  <span class="font-bold">
    {{title}}
  </span>
</div>
</div> -->
  <div id="chart" *ngIf="chartOptions">
    <apx-chart
      [series]="chartOptions?.series"
      [chart]="chartOptions?.chart"
      [plotOptions]="chartOptions?.plotOptions"
      [fill]="chartOptions?.fill"
      [stroke]="chartOptions?.stroke"
      [labels]="chartOptions?.labels">
    </apx-chart>
  </div>
</div>