<div class="feature-right-panel">

    <div class="feature-rp-header border-bottom">

        <div class="rp-header-left">
            <h3 class="rp-header-title">{{panelHeader}}</h3>
        </div>

        <div class="rp-header-right">
            <button type="button" class="btn btn-rp"
                (click)="close_model()" aria-label="Close" ngbTooltip="Close" 
                    container="body" triggers="mouseenter:mouseleave">
                <i class="oci oci-x"></i>
            </button>
        </div>

    </div>

    <div class="feature-rp-body pd-rp">
        
        @if (this.selectedPanel == 'LogDetails') {
            <app-environment-manager-main-right-log-tab-details [child_data]="{selectedData:selectedItem.data}"></app-environment-manager-main-right-log-tab-details>
        }
        @else if(this.selectedPanel == 'AddWidgets'){
            <app-manager-right-pannel-widjet></app-manager-right-pannel-widjet>
        }
        @else if(this.selectedPanel == "ErpLogDetails"){
            <app-e-m-mr-ds-e-r-p-d [child_data]="{selectedData:selectedItem.data}"></app-e-m-mr-ds-e-r-p-d>
        }
        @else if(this.selectedPanel == "ErpFunctionalJourney"){
            <app-e-m-mr-ds-e-f-e-journey [child_data]="{selectedData:selectedItem.data}"></app-e-m-mr-ds-e-f-e-journey>
        }
        @else if(this.selectedPanel == "ERPAllProcessWidget"){
            <app-e-m-mr-ds-erp-o-v-f-p [child_data]="{selectedData:selectedItem.data}" ></app-e-m-mr-ds-erp-o-v-f-p>
        }
        @else if(this.selectedPanel == 'ubAllFunctionalWidget'){
            <app-e-m-ds-ub-f-e-panel [child_data]="{selectedData:selectedItem.data}"></app-e-m-ds-ub-f-e-panel>
        }
        @else if(this.selectedPanel == 'ubAllConsoleWidget'){
            <app-e-m-mr-ds-ub-c-e-panel [child_data]="{selectedData:selectedItem.data}"></app-e-m-mr-ds-ub-c-e-panel>

        }
        @else if(this.selectedPanel == 'ubAllApiWidget'){
            <app-e-m-mr-ds-ub-a-e-panel [child_data]="{selectedData:selectedItem.data}"></app-e-m-mr-ds-ub-a-e-panel>
        }
    </div>


</div>