<div class="feature-right-panel">

    <div class="feature-rp-header border-bottom">

        <div class="rp-header-left">
            <h3 class="rp-header-title">Add Environment</h3>
        </div>

        <div class="rp-header-right">
            <button type="button" class="btn btn-rp"
                (click)="close_model()" aria-label="Close">
                <i class="fa fa-times"></i>
            </button>
        </div>

    </div>

    <div class="feature-rp-body pd-rp">
        <app-environment-curd></app-environment-curd>
    </div>


</div>