<div class="feature-right-panel">

    <div class="feature-rp-header border-bottom">

        <div class="rp-header-left">
            <h3 class="rp-header-title">Add View</h3>
        </div>

        <div class="rp-header-right">
            <button type="button" class="btn btn-rp"
                (click)="close_model()" aria-label="Close">
                <i class="fa fa-times"></i>
            </button>
        </div>

    </div>

    <div class="feature-rp-body pd-rp">
        
        @if (selectedItem && selectedItem.callsource == "environmentManager") {
            <app-environment-manager-main-right-log-tab-details [child_data]="{selectedData:selectedItem.data}"></app-environment-manager-main-right-log-tab-details>
        }
    </div>


</div>